<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/time.html'>
<link rel='ractive' href='../partials/spinner.html'>
<link rel='ractive' href='../partials/modal.html'>

<div class="cpanel">

  <subheader>
    <div class="row">
      <div class="col-xs-2" style="margin-left: 16.666666%">
        <a href="/cpanel/identities" class="{{active === 'identities' ? 'active' : ''}}">
          <div class="symbol"><i class="fa fa-user"></i></div>
          Identities{{#if stats.identities}} ({{stats.identities}}){{/if}}
        </a>
      </div>
      <div class="col-xs-2">
        <a href="/cpanel/mundial" class="{{active === 'mundial' ? 'active' : ''}}">
          <div class="symbol"><i class="fa fa-users"></i></div>
          Creators{{#if stats.mundial}} ({{stats.mundial}}){{/if}}
        </a>
      </div>
      <div class="col-xs-2">
        <a href="/cpanel/categories" class="{{active === 'categories' ? 'active' : ''}}">
          <div class="symbol"><i class="fa fa-list"></i></div>
          Categories{{#if stats.categories}} ({{stats.categories}}){{/if}}
        </a>
      </div>
      <div class="col-xs-2">
        <a href="/cpanel/images" class="{{active === 'images' ? 'active' : '' }}">
          <div class="symbol"><i class="fa fa-file-image-o"></i></div>
          Images{{#if stats.fotos}} ({{stats.fotos}}){{/if}}
        </a>
      </div>
    </div>
  </subheader>
  <subheader>
    <div class="row">
      <div class="col-xs-2" style="margin-left: 16.666666%">
        <a href="/cpanel/debates" class="{{active === 'debates' ? 'active' : ''}}">
          <div class="symbol"><i class="fa fa-comment-o"></i></div>
          Debates{{#if stats.debates}} ({{stats.debates}}){{/if}}
        </a>
      </div>
      <div class="col-xs-2">
        <a href="/cpanel/polls" class="{{active === 'polls' ? 'active' : ''}}">
          <div class="symbol"><i class="fa fa-question-circle"></i></div>
          Polls{{#if stats.polls}} ({{stats.polls}}){{/if}}
        </a>
      </div>
      <div class="col-xs-2">
        <a href="/cpanel/comments" class="{{active === 'comments' ? 'active' : ''}}">
          <div class="symbol"><i class="fa fa-comments-o"></i></div>
          Comments{{#if stats.comments}} ({{stats.comments}}){{/if}}
        </a>
      </div>
      <div class="col-xs-2">
        <a href="/cpanel/relations" class="{{active === 'relations' ? 'active' : '' }}">
          <div class="symbol"><i class="fa fa-bullseye"></i></div>
          Relations{{#if stats.relations}} ({{stats.relations}}){{/if}}
        </a>
      </div>
    </div>
  </subheader>
  <div class="lists">
    <table>
      <!-- {{#each field}}
        <th>{{.}}</th>
      {{/each field}} -->

      <!-- {{#each list}}
        {{# {item: . } }}
        <tr>
          {{#each field}}
          <td>
            {{item[.]}}
          </td>
          {{/each field}}
        </tr>
        {{/}}
      {{/each list}} -->

      {{#if active === 'identities'}}
        <th>ident</th>
        <th>creators</th>
        <th>created</th>
        <th>actions</th>
        {{#each list:i}}
        <tr>
          <td>{{.ident}}</td>
          <td>
            {{#each .mundial}}
              <a href="/cpanel/creator/{{.}}">{{.}}</a>
            {{/each}}
          </td>
          <td><time time="{{.created}}" class="since" /></td>
          <td>
            <span on-click="remove" class="action"><i class="fa fa-close" /></span>
          </td>
        </tr>
        {{/each list}}
      {{/if}}

      {{#if active === 'mundial'}}
        <th>name</th>
        <th>title</th>
        <th>foto</th>
        <th>created</th>
        <th>actions</th>
        {{#each list:i}}
        <tr>
          <td>
            <a href="/profile/{{._id}}">{{.name}}</a>
          </td>
          <td>{{.title}}</td>
          <td>
            {{#if .foto}}
            <a on-click="modal('foto', {title: .text, src: .foto, size: 'm', shape: 'sq'})">view</a>
            {{/if}}
          </td>
          <!-- <td>
            {{#each .mundial}}
              <a href="/cpanel/creator/{{.}}">{{.}}</a>
            {{/each .mundial}}
          </td> -->
          <td><time time="{{.created}}" class="since" /></td>
          <td>
            <span on-click="remove" class="action"><i class="fa fa-close" /></span>
          </td>
        </tr>
        {{/each list}}
      {{/if}}

      {{#if active === 'categories'}}
        <th>title</th>
        <!-- <th>foto</th> -->
        <th>created</th>
        <th>actions</th>
        {{#each list:i}}
        <tr>
          <td>{{.title}}</td>
          <!-- <td>
            {{#if .foto}}
            <a on-click="modal('foto', {title: .text, src: .foto, size: 'm', shape: 'sq'})">view</a>
            {{/if}}
          </td> -->
          <td><time time="{{.created}}" class="since" /></td>
          <td>
            <span on-click="remove" class="action"><i class="fa fa-close" /></span>
          </td>
        </tr>
        {{/each list}}
      {{/if}}

      {{#if active === 'images'}}
        TODO: image list
      {{/if}}

      <!-- ---- -->

      {{#if active === 'debates'}}
        <th>text</th>
        <th>foto</th>
        <th>tags</th>
        <th>created</th>
        <th>actions</th>
        {{#each list:i}}
        <tr>
          <td>{{.text}}</td>
          <td>
            {{#if .foto}}
            <a on-click="modal('foto', {title: .text, src: .foto, size: 'm', shape: 'sq'})">view</a>
            {{/if}}
          </td>
          <td>
            {{.tag.length}}
            <!-- {{#each .tag}}
              <a href="/cpanel/tag/{{.}}">{{.}}</a>&nbsp;&nbsp;
            {{/each .tag}} -->
          </td>
          <td><time time="{{.created}}" class="since" /></td>
          <td>
            <span on-click="remove" class="action"><i class="fa fa-close" /></span>
          </td>
        </tr>
        {{/each list}}
      {{/if}}

      {{#if active === 'polls'}}
        <th>text</th>
        <th>foto</th>
        <th>tags</th>
        <th>options</th>
        <th>created</th>
        <th>actions</th>
        {{#each list:i}}
        <tr>
          <td>{{.text}}</td>
          <td>
            {{#if .foto}}
            <a on-click="modal('foto', {title: .text, src: .foto, size: 'm', shape: 'sq'})">view</a>
            {{/if}}
          </td>
          <td>
            {{.tag.length}}
            <!-- {{#each .tag}}
              <a href="/cpanel/tag/{{.}}">{{.}}</a>&nbsp;&nbsp;
            {{/each .tag}} -->
          </td>
          <td>
            {{#each .options:o}}
              {{o}}:&nbsp;{{.text}}&nbsp;&nbsp;
            {{/each .tag}}
          </td>
          <td><time time="{{.created}}" class="since" /></td>
          <td>
            <span on-click="remove" class="action"><i class="fa fa-close" /></span>
          </td>
        </tr>
        {{/each list}}
      {{/if}}

      {{#if active === 'comments'}}
        <th>text</th>
        <th>created</th>
        <th>actions</th>
        {{#each list:i}}
        <tr>
          <td>{{.text}}</td>
          <td><time time="{{.created}}" class="since" /></td>
          <td>
            <span on-click="remove" class="action"><i class="fa fa-close" /></span>
          </td>
        </tr>
        {{/each list}}
      {{/if}}

      {{#if active === 'relations'}}
        TODO: relation stats
      {{/if}}


    </table>
  </div>
</div>

<style>
.symbol {
  text-align: center;
  padding-left: 20px;
  color: #fd270d;
}
a.active {
  color: #414141;
  background: #f6f6f6;
}

table {
  width: 100%;
}

td {
  padding: 4px;
}
tr:hover {
  background: #dadada;
}

tr, th {
  text-align: center;
}

span.action {
  border-radius: 4px;
  padding: 4px;
  border: solid 1px #eee;
}
span.action:hover {
  color: #f5a;
  background-color: #eee;
  border: solid 1px #f5a;
  margin: 0;
  cursor: pointer;
}


</style>

<script>

// implement this:
// https://github.com/JonDum/ractive-datatable

let api = require('../api')
let assign = require('../lib/lodash/object/assign')
let debounce = require('../lib/lodash/function/debounce')
component.exports = {
  isolated: true,
  modal: require('../modal'),
  onconfig () {
    this.lookup = {
      'identities': 'identity',
      'mundial': 'creator',
      'comments': 'comment',
      'debates': 'debate',
      'polls': 'poll',
    }
    api.action('admin:stats', {}, (data) => {
      this.set('stats', data)
    })

    this.on('remove', (event) => {
      let d = event.context
      let what = this.lookup[this.get('active')]
      if (what) api.action('admin:remove', {what, _id: d._id}, (data) => {
        if (data) this.splice('list', event.index.i, 1)
      })
    })
  },
  oninit () {
    // let __id
    // this.observe('id', (id) => { if (id && id !== __id) {
    //   __id = id
    // }})


    this.observe('active', (active) => {
      switch (active) {
        case 'identities':
          api.action('admin:identity-list', {limit: 1000}, (data) => {
            this.set('list', data)
          })
          break
        case 'mundial':
          api.action('admin:quest', {t: 'mundial', limit: 1000}, (data) => {
            this.set('list', data)
          })
          break
        case 'categories':
          api.action('admin:quest', {t: 'category', limit: 1000}, (data) => {
            this.set('list', data)
          })
          break
        case 'images':
          api.action('admin:quest', {t: 'foto', limit: 1000}, (data) => {
            this.set('list', data)
          })
          break

        case 'debates':
          api.action('admin:quest', {t: 'debate', limit: 1000}, (data) => {
            this.set('list', data)
          })
          break
        case 'polls':
          api.action('admin:quest', {t: 'poll', limit: 1000}, (data) => {
            this.set('list', data)
          })
          break
        case 'comments':
          api.action('admin:quest', {t: 'comment', limit: 1000}, (data) => {
            this.set('list', data)
          })
          break
        case 'relations':
          api.action('admin:quest', {t: 'relation', limit: 1000}, (data) => {
            this.set('list', data)
          })
          break
        default: this.set('active', active = 'debates')
      }
      Ractive.router.dispatch(`/cpanel/${active || ''}/${this.get('id') || ''}`, {history: false})
    })
  },
  oncomplete () {},
  onteardown () {},
  computed: {
    field () {
      let list = this.get('list')
      return list ? Object.keys(list[0]) : []
    }
  },
  activate (sub) {
    this.set('active', sub)
    Ractive.router.dispatch(`/cpanel/${sub}/${this.get('id') || ''}`, { history: false })
  }
}
</script>
