<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/chat.html'>
<link rel='ractive' href='../partials/spinner.html'>

<div>
  {{#if !movil}}
  <!-- left column -->
  <div style="width: {{~/leftWidth}}" class="col-left">
    <div class="threads" style="height: {{~/outerHeight}}px;">
      <h4>Mensajería</h4>
      <div>
        <!-- <input type="text" value="{{~/search}}" placeholder="Busca para enviar mensaje" /> -->
        <div on-tap="activate('settings')" class="settings {{~/panel === 'settings' ? 'active' : ''}}">
          <i class="fa fa-toggle-on"></i>
          Preferencias
        </div>
        <div on-tap="activate('encounter')" class="encounter {{~/panel === 'encounter' ? 'active' : ''}}">
          <i class="fa fa-users"></i>
          Buscador
        </div>
        {{#each ~/threads}}
          {{#if .messages > 0}}
            <div on-tap="activate('thread', ._id)" class="thread {{~/panel === 'thread' && mbox === _id ? 'active' : ''}}">
              <foto src="{{.members.0.foto}}" size="y" />
              <span class="name">{{.members.0.name}}</span>
              {{#if .nm}}
                <span class="new-msg">{{.nm}}</span>
              {{/if}}
            </div>
          {{/if .messages > 0}}
        {{else}}
        no threads
        {{/each ~/threads}}
      </div>
    </div>
  </div>

  <!-- right column -->
  <div style="width: {{~/rightWidth}};left: {{~/floatleft}}" class="col-right">
    <!-- settings page -->
    {{#if ~/panel === 'settings'}}
    <div class="messages summary">
      <h3>Preferencias <span class="not-yet">(Función aún no activa)</span></h3>
      <div>Con los filtros de control podrás:</div>
      <ul>
        <li>Bloquear usuarios</li>
        <li>Denunciar</li>
        <li>Formatear la visualización de tus conversaciones</li>
        <li>Borrar historal</li>
      </ul>
    </div>
    {{/if}}

    <!-- thread view -->
    {{#if ~/panel === 'thread'}}
    <chat members={{~/members}} />
    {{/if}}

    {{#if !~/panel || ~/panel === 'encounter'}}
    <div class="messages summary">
      <h3>Buscador</h3>
      <div class="search">
        <div class="txt_search">
          <input
            type="text"
            value="{{~/search_name}}"
            placeholder="busca una por su nombre"
            on-nlSubmit="search"
            on-keyup="keyup"
            />
        </div>
        <div class="submit">
          <button type="submit" on-tap="search">
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="results">
        {{#if ~/search_results.length === 0}}
        <div>No hay resultados</div>
        {{/if}}

        <div class="gm-scrollbar-vertical">
          <div class="thumb"></div>
        </div>
        <div class="gm-scrollbar-horizontal">
          <div class="thumb"></div>
        </div>
        <div class="gm-scroll-view">
          {{#if ~/loading}}
            <spinner scale="0.2" />
          {{else}}
            {{#each ~/search_results}}
              <div class="list">
                <div class="user">
                  <a href="/profile/{{._id}}" title="{{.name}}">
                    <foto src="{{foto}}" size="y" />
                  </a>
                  <div class="ellipsis">
                    <a href="/profile/{{._id}}" class="profile-name" title="{{.name}}"> {{.name}}</a>
                    <h5>{{.title}}</h5>
                  </div>
                </div>
                <div class="message1" on-tap="send-message">
                  <div class="message-inner">
                    <i class="fa fa-envelope" />
                  </div>
                </div>
              </div>
            {{/each}}
          {{/if ~/loading}}
        </div>
      </div>
    </div>
    {{/if}}
  </div>
  {{else}}
  <!-- Parte movil -->
  <!-- left column -->
  {{#if ~/columactive === 'right'}}
  <div class="cancel" on-tap="cancel">
    <i class="fa fa-times"></i>
  </div>
  {{/if}}
  <div style="width: {{~/columactive === 'left' ? '96%' : '0%'}}" class="col-left">
    <div class="threads" style="height: {{~/outerHeight}}px;">
      <h4>Mensajería</h4>
      <div>
        <!-- <input type="text" value="{{~/search}}" placeholder="Busca para enviar mensaje" /> -->
        <div on-tap="activate('settings')" class="settings {{~/panel === 'settings' ? 'active' : ''}}">
          <i class="fa fa-toggle-on"></i>
          Preferencias
        </div>
        <div on-tap="activate('encounter')" class="encounter {{~/panel === 'encounter' ? 'active' : ''}}">
          <i class="fa fa-users"></i>
          Buscador
        </div>
        {{#each ~/threads}}
          {{#if .messages > 0}}
            <div on-tap="activate('thread', ._id)" class="thread {{~/panel === 'thread' && mbox === _id ? 'active' : ''}}">
              <foto src="{{.members.0.foto}}" size="y" />
              <span class="name">{{.members.0.name}}</span>
              {{#if .nm}}
                <span class="new-msg">{{.nm}}</span>
              {{/if}}
            </div>
          {{/if .messages > 0}}
        {{else}}
        no threads
        {{/each ~/threads}}
      </div>
    </div>
  </div>

  <!-- right column -->
  <div style="width: {{~/columactive === 'right' ? '100%' : '0%'}};left: {{~/columactive === 'left' ? ~/floatleft :'0'}}; display: {{~/columactive === 'left' ? 'none' : 'block'}}" class="col-right">
    <!-- settings page -->
    {{#if ~/panel === 'settings'}}
    <div class="messages summary">
      <h3>Preferencias <span class="not-yet">(Función aún no activa)</span></h3>
      <div>Con los filtros de control podrás:</div>
      <ul>
        <li>Bloquear usuarios</li>
        <li>Denunciar</li>
        <li>Formatear la visualización de tus conversaciones</li>
        <li>Borrar historal</li>
      </ul>
    </div>
    {{/if}}

    <!-- thread view -->
    {{#if ~/panel === 'thread'}}
    <chat members={{~/members}} />
    {{/if}}

    {{#if (!~/panel || ~/panel === 'encounter') && ~/search === 'active'}}
    <div class="messages summary">
      <h3>Buscador</h3>
      <div class="search">
        <div class="txt_search">
          <input
            type="text"
            value="{{~/search_name}}"
            placeholder="busca una por su nombre"
            on-nlSubmit="search"
            on-keyup="keyup"
            />
        </div>
        <div class="submit">
          <button type="submit" on-tap="search">
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="results">
        {{#if ~/search_results.length === 0}}
        <div>No hay resultados</div>
        {{/if}}

        <div class="gm-scrollbar-vertical">
          <div class="thumb"></div>
        </div>
        <div class="gm-scrollbar-horizontal">
          <div class="thumb"></div>
        </div>
        <div class="gm-scroll-view">
          {{#if ~/loading}}
            <spinner scale="0.2" />
          {{else}}
            {{#each ~/search_results}}
              <div class="list">
                <div class="user">
                  <a href="/profile/{{._id}}" title="{{.name}}">
                    <foto src="{{foto}}" size="y" />
                  </a>
                  <div class="ellipsis">
                    <a href="/profile/{{._id}}" class="profile-name" title="{{.name}}"> {{.name}}</a>
                    <h5>{{.title}}</h5>
                  </div>
                </div>
                <div class="message1" on-tap="send-message">
                  <div class="message-inner">
                    <i class="fa fa-envelope" />
                  </div>
                </div>
              </div>
            {{/each}}
          {{/if ~/loading}}
        </div>
      </div>
    </div>
    {{/if}}
  </div>
  {{/if}}
</div>

<style>
.cancel {
  display: block;
  content: "\00D7";
  background: #fff;
  color: #000;
  width: 30px;
  height: 30px;
  padding-right: 12px;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  line-height: 1px;
  text-indent: 1px;
  border-radius: 0 0 0 4px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index:999999;
}
.threads {
  /*position: fixed;*/
  /*max-height: 90%;*/
  /*min-width: 266px;*/
}

.threads, .messages {
  background: #fff;
  border-radius: 15px;
  box-shadow: 5px 11px 20px -3px rgba(41, 41, 41, 0.53);
}

.messages {
  position: relative;
  padding: 10px;
}
.wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 15px 0 5px;
}
.input {
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0;
}
.new-msg {
  /*position: relative;
  top: 5px;
  right: 6px;*/
  background: #5a9727;
  color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
}
.thread,
.settings,
.encounter {
  padding: 4px 8px;
  color: #ff3232;
  border-bottom: solid 1px #F1F1F1;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.active {
  border-bottom: solid 1px #A0A0A0;
  background-color: #e9f7ea;
}
nav .fa {
  /*font-size: 28px;*/
  font-size: 19px;
  /*width: 49px;*/
  width: 36px;
  height: 36px;
  background-color: #FFFFFF;
  padding: 6px;
  border-radius: 50%;
  border: solid 2px;
  color: #414141;
}
.col-left, .col-right {
  position: absolute;
  height: 100%;
}
.col-left {
  left: 10px;
}
.col-right {
  /*right: 10px;*/
}
.settings, .encounter {
  padding: 4px 8px;
  color: #ff3232;
  border-bottom: solid 1px #F1F1F1;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
li.encounter {
  border-bottom: solid 1px #A0A0A0;
  background-color: #e9f7ea;
}
.list {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  transition: background-color 333ms ease-in-out;
  border-bottom: 1px solid #dadada;
  clear: both;
}


.user {
  padding-bottom: 10px;
  position: absolute;
  width: 80%;
}
.user img {
  float: left;
  margin-right: 12px;
  margin-left: 16px;
  vertical-align: middle;
  margin-top: 5px;
  width: 36px;
  height: 36px;
}
.user h4,
.user h5 {
  margin: 0;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.user h4 {
  padding-top: 10px;
}
.user h4 a {
  color: #414141;
  text-decoration: none;
}
.user h4 a:hover {
  color: #fd270d;
}
.user h5 {
  color: #939393;
  font-size: 12px;
  /*font-weight: 300;*/
}

.view_plus {
  background-color: #fff;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  padding-top: 3px;
  border-radius: 0px 0px 30px 9px;
  border-top: solid 1px #e6e6e6;
  font-weight: bold;
}
.message1 {
  position: absolute;
  top: 7px;
  right: 12px;
  width: 32px;
  height: 35px;
  font-size: 20px;
  color: #fd270d;
  /*border: solid 1px #dadada;*/
  border-radius: 4px;
  cursor: pointer;
}
.message-inner {
  margin: auto;
  width: 30px;
  border-radius: 4px;
  background: #fff;
  padding-left: 5px;
}
.message1:hover {
  background: rgba(253, 39, 13, 0.08);
  /*border: solid 1px #FD270D;*/
  border-radius: 4px;
}
.search {
  position: relative;
  height: 60px;
}
.txt_search {
  position: absolute;
  left: 0px;
  width: 80%;
}
.submit {
  /*position: absolute;
  right: 44px;
  top: 15px;*/
}
.submit .fa {
  right: 2px;
  position: relative;
}
.submit button {
  padding: 1px 8px;
  z-index: 10;
  border: 1px solid #d5d5d5;
  border-radius: 15px;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 4px;
  top: 4px;
  color: #fd270d;
}


</style>

<script>
import assign from '../lib/lodash/object/assign'
import each from '../lib/lodash/collection/each'
import onresize from '../lib/dom/element-onresize'

component.exports = {
  isolated: true,
  // modal: require('../modal'),
  oninit () {
    this.set('movil', window.isMobile)
    this.set('columactive','left')
    this.on('send_text', (event) => {
      this.fire('search', event.context.text)
    })
    this.on('cancel', (event) =>{
      this.set('columactive','left')
    })
    this.on('send-message', (event) => {
      // this.modal('chat', {title: event.context.name, minimize: true, id: event.context._id})
      api.action('mbox', {creator: event.context._id}, (data) => {
        let members = {}
        members[api.me._id] = members.me = api.me
        for (let i = 0; i < data.members.length; i++) {
          let m = data.members[i]
          members[m._id] = m
          if (m === api.me._id) {
            data.members.splice(i, 1)
          }
        }
        this.set('threads.'+data._id, data)
        this.activate('thread', data._id)
        this.set('members', members)
      })
    })
    this.on('keyup', (event) => {
      if (event.original.which === 13) {
        this.fire('search', event)
      }
    })
    this.on('search', (event) => {
      api.action('mundial@', {name: event.context.search_name}, (res) => {
        this.set({search_results: res})

      })
    })
    api.action('mbox*', {limit: 100, sort: '+active'}, (data) => {
      let threads = {}
      for (let i = 0; i < data.length; i++) {
        let t = data[i]
        for (let j = 0; j < t.members.length; j++) {
          let m = t.members[j]
          if (m === api.me._id) {
            t.members.splice(j, 1)
          }
        }
        t.nm = api.my.notifier.get_box(t._id)
        threads[t._id] = t
      }
      this.set('threads', threads)
      let mbox = this.get('mbox')
      if (mbox) {
        this.set_members(mbox)
      }
    })

    api.my.notifier.on('msg*', () => {
      let threads = this.get('threads')
      if (threads) each(threads, (t, id) => {
        let c = api.my.notifier.get_box(id)

        if (t.nm !== c) {
          this.set(`threads.${id}.nm`, c)
        }
      })
    })

    this.observe('mbox', (mbox) => {
      this.set_members(mbox)
    })

    this.on('add', (event) => {
      event.original.preventDefault()
      let text = this.get('text').trim()
      if (text.length <= 2) return
      this.set('saving', true)
      this.set('text', '')
      this.fire('elastic:adjust')
      let msg = {
        text: text,
        creator: api.me._id,
        created: Date.now(),
        saving: true
      }
      this.get('msgs').push(msg)
      api.action('msg+', {text: text, mbox: this.get('mbox')}, (data) => {
        msg.saving = false
        assign(msg, data)
      }, (error) => {
        msg.saving = false
        msg.error = error
      })
    })
    this.on('toggle-focus', () => {
      // this is a stupid hack to prevent the display: none from happening
      // before the event has propagated to the form
      setTimeout(() => {
        this.toggle('focused')
      }, 200)
    })
  },
  oncomplete () {
    let resizer, _resizer
    let title = this.find('.title')
    let movil = window.isMobile
    let container = this.find('div')
    resizer = require('../lib/lodash/function/throttle')(_resizer = () => {
      let iw = window.innerWidth
      let left = Math.min((iw / 3), 200)
      let right = iw - left - 40
      this.set('leftWidth', left + 'px')
      this.set('floatleft', left+20 + 'px')
      this.set('rightWidth', (movil ? right : right/1.5) + 'px')
      let outer = window.innerHeight - (movil ? 120 : 100)
      this.set('outerHeight', outer)

    }, true)
    onresize.addResizeListener(container, resizer)
    resizer()
  },
  activate (sub, mbox) {
    this.set('columactive','right')
    if (mbox && mbox !== this.get('mbox')) this.set('msgs', [])
    router.dispatch('/inbox/' + sub + (mbox ? '/' + mbox : ''), { history: false })
  },
  set_members (mbox) {
    let thread = this.get('threads.' + mbox)
    if (!thread) return
    let members = {}
    members[api.me._id] = members.me = api.me
    for (let i = 0; i < thread.members.length; i++) {
      let m = thread.members[i]
      members[m._id] = m
    }
    this.set('members', members)
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
