<link rel='ractive' href='../partials/debate-list.html'>
<link rel='ractive' href='../partials/affinaties.html'>
<link rel='ractive' href='../partials/pop-tag-carousel.html'>
<link rel='ractive' href='../partials/pop-tag-list.html'>
<link rel='ractive' href='../partials/mis-top.html'>

<div class="left-column" style="width: {{leftWidth}}px">
  {{#if panel !== 'mis-top'}}
    <div class="pop-tag-container-outer" style="width: {{leftWidth - 10}}px">
      <div class="title section-title">Top Affinaty</div>
      <div class="pop-tag-container">
        <div class="pop-tag-container-inner" style="width: {{leftWidth - 16 - 10}}px">
          <pop-tag-carousel category="{{category}}" />
        </div>
      </div>
    </div>
  {{else}}
    <h2>Mis Top</h2>
  {{/if}}
  <div class="debates-list" style="width: {{leftWidth}}px">
    {{#if panel}}
      <debate-list category="{{category}}" tag="{{tag}}" top="{{ panel === 'mis-top' ? true : false }}" />
    {{/if}}
  </div>
</div>
<div class="right-column" style="width: {{rightWidth}}px">
  <affinaties />
  {{#if panel === 'mis-top'}}
    <pop-tag-list />
  {{else}}
    <mis-top />
  {{/if}}
</div>

<style>
h2 {
  text-align: center;
}
.right-column {
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 30px 9px 0px 0px;
  position: fixed;
  top: 60px;
  right: 20px;
}

.pop-tag-container-outer {
  box-shadow: 5px 11px 20px -4px rgba(41, 41, 41, 0.53);
  border-radius: 30px 9px 9px 9px;
}

.left-column {
  margin-right: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

.pop-tag-container {
  border: solid 1px #E6E6E6;
  border-radius: 0 0 9px 9px;
  border-top: 0;
  padding: 8px;
  background: #fff;
}
.pop-tag-container-inner {
  overflow: hidden;
  height: 208px;
}

.debates-list {
  margin-top: 10px;
}

</style>
<script>
let assign = require('../lib/lodash/object/assign')
let debounce = require('../lib/lodash/function/debounce')
let onresize = require('../lib/dom/element-onresize')

component.exports = {
  onconfig () {
    this.on('dispatch', () => {
      let p = router.uri.path
      let i = p.indexOf('/', 1)
      let panel = p.substring(1, ~i ? i : p.length)
      this.set('panel', panel)
      console.info('panel', panel)
    })
    let layout = () => {
      let inner = window.innerWidth - 60
      let right = inner > 600 ? 250 : 0
      let left = Math.floor((inner - right - 32) / (289+20)) * (289+20)
      this.set('rightWidth', right + (inner - left - right))
      this.set('leftWidth', left)
    }
    let resizer = debounce(() => {
      setTimeout(layout, 1)
    }, 500, true)
    layout()
    window.addEventListener('resize', resizer)
    this.once('teardown', () => {
      window.removeEventListener('resize', resizer)
    })
  },
}
</script>
