<link rel='ractive' href='../partials/poll-sm.html'>
<link rel='ractive' href='../partials/poll-stats.html'>
<link rel='ractive' href='../partials/comment-list.html'>
<link rel='ractive' href='../partials/spinner.html'>

<div class="container">
  <div class="row">

    <div class="{{~/movil ? '' : 'col-xs-6 col-md-7 col-sm-6'}}">
      {{#if ~/loading}}
        <spinner />
      {{/if ~/loading}}

      {{#if ~/error}}
        ERROR: {{error}}
      {{/if ~/error}}

      {{#if ~/poll}}
        <poll-sm id="{{~/id}}" d={{~/poll}} />
      {{/if ~/poll}}
      <comment-list poll="{{~/id}}" />
    </div>
    {{#unless ~/movil}}
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
      <poll-stats id="{{~/id}}" idx="{{~/poll.idx}}" totals="{{~/poll.totals}}" />
    </div>
    {{/unless}}

    <!-- {{#unless ~/movil}}
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
      <poll-stats poll="{{~/id}}" idx="{{~/poll.idx}}" totals="{{~/poll.totals}}" />
    </div>
    {{/unless}} -->

  </div>
</div>

<style>


</style>

<script>
component.exports = {
  isolated: true,
  oninit: function () {
    this.set('movil', window.isMobile)
    this.set('loading', true)
    api.action('poll', {_id: this.get('id')}, (data) => {
      this.set('loading', false)
      this.set('poll', data)
    }, (err) => {
      this.set('loading', false)
      this.set('error', err)
    })

  },
  oncomplete () {
    let comments = this.find('.comments')
    this.observeOnce('poll', () => {
      this.observe('active', (v) => {
        if (v && v === 'comments')
          setTimeout(() => { comments.scrollIntoView() }, 1)
      })
    })
  },
}
</script>
