<link rel='ractive' href='../partials/spinner.html'>
<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/date-select.html'>
<link rel='ractive' href='../partials/foto-upload.html'>


<div class="container">
  <div class="row">

    <!-- left column -->
    <div class="col-sm-4 col-md-3 col-threads">
      <div class="menu">
        <h4>Settings</h4>
        <nav>
          <li on-tap="activate('appearance')" class="{{~/active === 'appearance' ? 'active' : ''}}">
            Editar perfil
          </li>
          <li on-tap="activate('identities')" class="{{~/active === 'identities' ? 'active' : ''}}">
            Configuración
          </li>
          <li on-tap="activate('networks')" class="{{~/active === 'networks' ? 'active' : ''}}">
            Redes Sociales
          </li>
        </nav>
      </div>
    </div>

    <!-- right column -->
    <div class="col-sm-8 col-md-9">
      {{#if ~/active === 'appearance' }}
      <div class="settings">
        <div class="profile-foto">
          <span class="change-foto" on-tap="toggle('change_foto')">
            {{#if ~/change_foto}}
            <i class="fa fa-close"></i> Cancelar
            {{else}}
            <i class="fa fa-camera"></i> Cambiar foto
            {{/if}}
          </span>
          {{#if ~/change_foto}}
          <foto-upload L="{message: 'Sube tu foto de perfil'}" icon="camera" shape="circle" cropped="{{~/cropped}}" />
          {{else}}
          <foto src="{{~/me.foto}}" size="t" />
          {{/if}}
        </div>

        <form on-submit="change-appearance">
          <div><h5>Cambia tu nombre</h5></div>
          <input type="text" maxlength="50" value="{{~/me.name}}" placeholder="{{~/me.name}}" decorator="focusSelect">

          <div><h5>Cambia tu descripción</h5></div>
          <input type="text" maxlength="100" value="{{~/me.title}}" placeholder="{{~/me.title}}" decorator="focusSelect">

          <div><h5>Cambia tu localización</h5></div>
          <div class="row">
            <div class="col-xs-6">
              <select value="{{~/me.c}}">
                <option value="">País</option>
                {{#each ~/countries}}
                <option value="{{.short}}">{{.name}}</option>
                {{/each}}
              </select>
            </div>
            {{#if ~/provinces}}
            <div class="col-xs-6">
              <select value="{{~/me.p}}">
                <option value="">Provincia</option>
                {{#each ~/provinces}}
                <option value="{{.short}}">{{.name}}</option>
                {{/each}}
              </select>
            </div>
            {{/if}}
          </div>

          <div><h5>Cambia tu fecha de nacimiento</h5></div>
          <date-select value="{{~/me.birthdate}}" />

          <div><h5>Cambia tu género</h5></div>
          <div style="text-align: center">
            <div class="planet row">
              <div class="col-xs-6">
                <i class="fa fa-venus {{~/me.planet === 0 ? 'active' : ''}}" on-tap="set('me.planet', 0)"></i>
                <div>Mujer</div>
              </div>
              <div class="col-xs-6">
                <i class="fa fa-mars {{~/me.planet === 1 ? 'active' : ''}}" on-tap="set('me.planet', 1)"></i>
                <div>Hombre</div>
              </div>
            </div>

            <div style="margin-top: 60px">
              <button class="button-sign-up">Guardar</button> {{~/save_success}}
              {{#if ~/saving}}
                <spinner />
              {{/if}}
            </div>
          </div>
        </form>
      </div>
      {{/if}}

      {{#if ~/active === 'identities' }}
      <div class="settings">
        <!-- <form on-submit="change-identities">
          <div>
            <div><h5>Correo elecrónico</h5></div>
            <input type="text" maxlength="100" value="{{~/new_email}}" placeholder="{{~/ident.ident}}">
          </div>
        </form> -->
        <form on-submit="change-password">
          <div>
            <div><h5>Contraseña actual</h5></div>
            <input type="password" maxlength="100" value="{{~/pw.oldPassword}}" placeholder="tu contraseña actual" class="{{~/errors.pw.oldPassword ? 'invalid' : ''}}">
          </div>
          <div>
            <div><h5>Nueva contraseña</h5></div>
            <input type="password" maxlength="100" value="{{~/pw.newPassword}}" placeholder="tu nueva contraseña" class="{{~/errors.pw.newPassword ? 'invalid' : ''}}">
          </div>
          <div>
            <div><h5>Confimar Contraseña</h5></div>
            <input type="password" maxlength="100" value="{{~/pw.confirmPassword}}" placeholder="confirmar tu nueva contraseña" class="{{~/errors.pw.confirmPassword ? 'invalid' : ''}}">
          </div>
          <div style="margin-top: 60px">
            <button class="button-sign-up">Guardar</button> {{~/save_success}}
            {{#if ~/saving}}
              <spinner />
            {{/if ~/saving}}
            {{#if ~/passwd_success}}
              <div class="alert alert-success">{{~/passwd_success}}</div>
            {{/if ~/passwd_success}}
            {{#if ~/passwd_fail}}
              <div class="alert alert-fail">{{~/passwd_fail}}</div>
            {{/if ~/passwd_fail}}
          </div>
        </form>
      </div>
      {{/if}}

      {{#if ~/active === 'networks' }}
      <div class="settings">
        <div class="heading">
          Estos datos aparecen en tu perfil
        </div>
        <div class="row">
          <select class="network-list" value="{{new_network}}" on-change="add-network">
            <option value="">Añadir una nueva red</option>
            {{#each network_list}}
              {{#if ~/me.networks[ .id ] === undefined}}
                <option value="{{.id}}">{{.title}}</option>
              {{/if}}
            {{/each}}
          </select>
        </div>
        <form on-submit="change-networks">
          {{#if ~/network_count === 0}}
            <span>No tienes ninguna red añadida.</span>
          {{/if}}
          {{#each ~/network_list}}
            {{#if ~/me.networks[ .id ] !== undefined}}
              <div>
                <div><h5>{{.title}}:</h5></div>
                <div style="position: relative">
                  <input type="text" maxlength="200" value="{{ ~/me.networks[ .id ] }}" placeholder="{{ .text }}" />
                  <span class="remove" on-tap="remove-network" decorator="tip:'Eliminar',36"><i class="fa fa-times" /></span>
                </div>
              </div>
            {{/if}}
          {{/each}}
          <div style="margin-top: 60px">
            <button class="button-sign-up" on-tap="change-networks">Guardar</button> {{~/save_success}}
            {{#if ~/saving}}
              <spinner />
            {{/if ~/saving}}
          </div>
        </form>
      </div>
      {{/if}}
    </div>
  </div>
</div>

<style>
h4, h5, .change-foto {
  color: #fd270d;
  text-shadow: 1px 2px 1px rgba(0,0,0,.2);
}
.menu {
  position: fixed;
  max-height: 90%;
  min-width: 266px;
}

.heading {
  font-size: 120%;
  text-align: center;
  color: #999;
  margin-bottom: 20px;
}

.menu, .settings {
  background: #ffffff;
  margin: 30px 0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 11px 20px -3px rgba(41, 41, 41, 0.53);
}

.network-list {
  width: auto;
  float: right;
}

.profile-foto {
  text-align: center;
}

.menu nav {
  list-style-type: none;
}

nav li {
  cursor: pointer;
  padding-left: 5px;
}
nav li:hover,
li.active {
  background-color: #eee;
}

button.button-sign-up {
  width: 50%;
  margin: 0 25%;
  border-radius: 8px;
}

.change-foto {
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 30px;
}

.foto-upload {
  margin: 0 auto;
  position: relative;
}

.foto-upload .message {
  font-size: 16px;
  position: absolute;
  left: 0;
  width: 240px;
  top: 160px;
}

.dropzone-area {
  color: #fd270d;
  border: 1px solid #222;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  text-decoration: none;
  font-size: 40px;
  font-weight: 300;
  line-height: 0.8;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 240px;
  height: 240px;
  margin: 0 0 6px 0;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.planet {
  text-align: center;
}

.planet .fa {
  width: 100px;
  height: 100px;
  padding: 20px;
  font-size: 120%;
  margin: 5px;
  background: #fff;
  border: solid 3px #505050;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  border-radius: 50%;
}

.planet .fa:before {
  font-size: 300%;
}

.planet .active {
  border: solid 3px #fd270d;
  color: #f00;
}

.planet .selected {
  border: solid 3px #00f;
  color: #00f;
}

.remove {
  /*float: right;*/
  position: absolute;
  top: 12px;
  right: 20px;
}
.remove:hover {
  /*border: solid 1px #dada*/
  color: #f00;
  cursor: pointer;
}

.invalid {
  border: solid 1px #f00;
}

</style>

<script>
import moment from 'moment'
import assign from '../lib/lodash/object/assign'
import find from '../lib/lodash/collection/find'
import isEqual from '../lib/lodash/lang/isEqual'
import Validator from '../validator'

let net_form = new Validator('net', {
  'blog': {required: false, type: 'string', min: 4, max: 100},
  'web': {required: false, type: 'string', min: 4, max: 100},
  'facebook': {required: false, type: 'string', min: 4, max: 100},
  'twitter': {required: false, type: 'string', min: 4, max: 100},
  'youtube': {required: false, type: 'string', min: 4, max: 100},
  'github': {required: false, type: 'string', min: 4, max: 100},
  'linkedin': {required: false, type: 'string', min: 4, max: 100},
})

let pw_form = new Validator('pw', {
  'oldPassword': {required: true, min: 4, max: 100},
  'newPassword': {required: true, min: 4, max: 100, password: 'pw.confirmPassword'},
  'confirmPassword': {required: true, min: 4, max: 100, password: 'pw.newPassword'},
})


component.exports = {
  isolated:true,
  onconfig () {
    // my existing data
    this.get('active') || this.set('active', 'appearance')

    let network_list = [
      {id: 'facebook', text: '(ej. https://facebook.com/pepelotero)', title: 'Facebook' },
      {id: 'web', text: '(ej. http://coolwebsite.com)', title: 'Página web' },
      {id: 'twitter', text: '(ej. https://twitter.com/pepelotero)', title: 'Twitter' },
      {id: 'youtube', text: '(ej. http://youtube.com/user/PepeLotero)', title: 'Youtube' },
      {id: 'github', text: '(ej. http://github.com/PepeLotero)', title: 'Github' },
      {id: 'blog', text: '(ej. http://wordpress.com/pepelotero)', title: 'Blog' },
      {id: 'linkedin', text: '(ej. http://linkedin.com/pepelotero)', title: 'Linkedin' },
    ]
    this.set('network_list', network_list)

    let set_countries = (data) => {
      let list = data
      if (!Array.isArray(data)) {
        list = []
        for (var k in data) list.push({ name: data[k], short: k })
        list.sort((a, b) => { return a.name > b.name ? 1 : a.name < b.name ? -1 : 0 })
        local.setItem('country-list', list)
      }
      this.set('countries', list)
    }

    local.getItem('country-list', (err, data) => {
      if (!data) {
        // TODO: when we localize, we can also fetch the localized version using lang: 'en'
        //  - then, we should combine the two, and if they're different, we should put it in parens
        //   - España (Spain)
        //   - Deutschland (Germany)
        api.action('country-list', {}, (data) => {
          set_countries(data)
        })
      } else {
        set_countries(data)
      }
    })

    let set_provinces = (code, data) => {
      let list = data
      if (!Array.isArray(data)) {
        list = []
        for (var k in data) list.push({ name: data[k], short: k })
        list.sort((a, b) => { return a.name > b.name ? 1 : a.name < b.name ? -1 : 0 })
        local.setItem(`provinces-${code}`, list)
      }
      this.set('provinces', list)
      if (list.length === 0) this.set('me.p', '*')
    }

    this.observe('me.c', (code) => {
      if (code) {
        local.getItem(`provinces-${code}`, (err, data) => {
          if (!data) {
            api.action('province-list', {code}, (data) => {
              set_provinces(code, data)
            })
          } else {
            set_provinces(code, data)
          }
        })
      }
    }, {init: false})

    api.on('me', (_me) => {
      if (!_me) return
      if (!_me.networks) _me.networks = {}
      this.set('me', _me)
      if (_me && _me.networks)
        this.set('net', _me.networks)
      me = _me
    })

    let me = api.me
    // stupid hack for when c = ''
    // (this can happen because of a bug in ractive option boxes setting the value to '' when no option is selected)
    if (me.c === '') delete me.c
    this.old_me = assign({}, me)
    if (!me.networks) me.networks = {}
    this.set('me', me)

    this.observe('me', (_me) => {
      if (_me) {
        api.emit('me', _me)
        me = _me
      }
    }, {init: false})

    this.on('add-network', () => {
      let n = this.get('new_network')
      this.set(`me.networks.${n}`, '')
      this.set('new_network', '')
    })
    this.on('remove-network', (event) => {
      delete me.networks[event.context.id]
      this.set('me.networks', me.networks)
    })

    // change-appearance
    this.observe('cropped', (v) => {
      if (v && v.length) this.set('me.foto', v[0])
    })

    // TODO - a proper form with validation
    this.on('change-appearance', (e) => {
      if (e) e.original.preventDefault()
      let me = this.get('me')
      // stupid hack for when c = ''
      // (this can happen because of a bug in ractive option boxes setting the value to '' when no option is selected)
      if (me.c === '') delete me.c
      // if current me is different to old_me, then we save the difference.
      if (!isEqual(me, this.old_me)) {
        let update = {}
        // save it
        for (var k in me) {
          if (me[k] !== this.old_me[k])
            update[k] = me[k]
        }
        if (!isEqual({}, update)) {
          api.action('change-appearance', update, (data) => {
            if (data) {
              api.whoIaM(data)
              this.set('change_foto', false)
              this.set('saving', false)
              setTimeout(() => {
                router.dispatch('/')
              }, 1000)
            }
          })
        }
      }
    })

    // change-password
    this.observe('pw', () => {
      let form = pw_form.validate(this)
      if (pw_form.submitted) {
        this.set('errors', form.errors)
      // } else {
      //   console.log('save_enabled', form.valid)
      //   this.set('save_enabled', form.valid)
      }
    }, { init: false })

    this.on('change-password', (e) => {
      e.original.preventDefault()
      pw_form.submitted = true
      let form = pw_form.validate(this)
      this.set('errors', form.errors)
      if (form.valid) api.action('change-password', form.data, (data) => {
        if (data)
          this.set('passwd_success', 'Contraseña actualizada')
      }, (err) => {
        if (~err.indexOf(`password isn't correct`))
          this.set('errors.pw.oldPassword', 'incorrect')
        else this.set('passwd_fail', 'No se ha podido cambiar la contraseña')
      })
    })

    // change-networks
    this.observe('net', () => {
      if (net_form.submitted)
        this.set('errors', net_form.validate(this).errors)
    }, { init: false })

    this.on('change-networks', (e) => {
      e.original.preventDefault()
      net_form.submitted = true
      let form = net_form.validate(this)
      this.set('errors', form.errors)
      if (form.valid)
        this.set('saving', true)
      && api.action('change-appearance', {networks: form.data}, (data) => {
        this.set('saving', false)
        if (data) {
          api.whoIaM(data)
          this.set('success', true)
        }
      })
    })
  },
  onteardown () {
    this.fire('change-appearance')
  },
  computed: {
    network_count () {
      let net = this.get('me.networks')
      return net ? Object.keys(net).length : 0
    },
  },
  activate (sub, id) {
    router.dispatch('/settings/' + sub + (id ? '/' + id : ''), { history: false })
  },
  decorators: {
    tip: require('../lib/decorators/tip'),
    focusSelect: require('../lib/decorators/focusSelect'),
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
