
<div class="border">
  <div class="message">
    ¿Seguro que quieres {{ ~/verb || 'eliminar' }} {{ ~/what || 'esta publicación' }}?
  </div>

  <div>
    <button on-tap="set('answer', true)">
      <i class="fa fa-check" /> Sí
    </button>

    <button on-tap="set('answer', false)">
      <i class="fa fa-cancel" /> No
    </button>
  </div>
</div>

<style>
.border {
  margin: 20px;
}
.message {
  margin: 10px;
}
</style>

<script>
component.exports = {
  oninit () {
    var onkeypress
    this.observe('answer', (v) => {
      if (v !== void 0) this.parent.fire('answer', v)
    }, {init: false})
    window.addEventListener('keyup', onkeypress = (event) => {
      let key = event.which
      if (key === 27) this.parent.fire('answer', false)
      else if (key === 13) this.parent.fire('answer', true)
    })
    this.once('teardown', () => {
      window.removeEventListener('keyup', onkeypress)
    })
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
