
<div class="square container">
  <form on-submit="submit">
    {{#if success}}
      contraseña cambiada correctamente
    {{else}}
      <div>
        Por su seguridad, introduzca una nueva contraseña
      </div>
      <!-- <div>
        <h5>Contraseña actual</h5>
        <input type="password" maxlength="100" value="{{pw.oldPassword}}" placeholder="tu contraseña actual">
      </div> -->
      <div>
        <h5>Nueva contraseña</h5>
        <input type="password" maxlength="100" value="{{pw.newPassword}}" placeholder="tu nueva contraseña">
      </div>
      <div>
        <h5>Confimar Contraseña</h5>
        <input type="password" maxlength="100" value="{{pw.confirmPassword}}" placeholder="confirmar tu nueva contraseña">
      </div>
      {{#if error}}
        <div class="error">
          {{ L[error] }}
        </div>
      {{/if}}
      <div class="submit">
        <button type="submit" class="button-sign-up">
          Guardar
          <span class="angle"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></span>
        </button>
      </div>
    {{/if}}
  </form>
</div>

<style>

.error {
  padding: 5px;
  color: red;
  font-weight: bold;
  border: solid 2px;
  margin: 5px;
}

div.square {
  width: 500px;
  padding: 20px;
}

.button-sign-up {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}

.angle {
  position: absolute;
  right: 30px;
}

.invalid {
  border: solid 1px #f00;
}

.terms {
  font-weight: 300;
  font-size: 88%;
  margin-top: 20px;
  color: #333;
}

form div {
  margin: 30px;
}
h5 {
  text-align: left;
}
</style>

<script>
let Validator = require('../validator')
component.exports = {
  isolated: true,
  data: {},
  onconfig () {
    // TODO move this up  - and use merge instead of set

    this.set('d', {
      name: '',
      // ident: 'random' + Math.round(Math.random() * 100) + '@affinaty.com',
      ident: window.localStorage.email,
    })

    if (this.parent) {
      // debugger
      // retrieve the old password from the spawning modal
      this.set('pw.oldPassword', this.parent.get('oldPassword'))
    }

    this.pw = new Validator('pw', {
      'oldPassword': {required: true, min: 4, max: 100},
      'newPassword': {required: true, min: 4, max: 100, password: 'pw.confirmPassword'},
      'confirmPassword': {required: true, min: 4, max: 100, password: 'pw.newPassword'},
    })
    this.observe('pw', () => {
      if (this.pw.submitted)
        this.set('errors', this.pw.validate(this).errors)
    })
    this.on('submit', (event) => {
      event.original.preventDefault()
      this.pw.submitted = true
      let form = this.pw.validate(this)
      this.set('errors', form.errors)
      if (form.valid) {
        this.set('saving', true)
        api.action('change-password', this.get('pw'), (res) => {
          console.log('change password', res)
          this.set('success', true)
          setTimeout(() => {
            this.parent.teardown()
            router.dispatch('/home')
          }, 1000)
          // this.parent.teardown()
        })
      }
    })
  },
  modal: require('../modal')
}

</script>
