<link rel='ractive' href='../partials/sex-stats-svg.html'>
<link rel='ractive' href='../partials/age-stats-svg.html'>
<link rel='ractive' href='../partials/percent-stats-svg.html'>

<div class="debate-stats">
  <h4 class="title">Estadísticas</h4>
  <h6 class="total">Total opiniones <span class="total">{{~/total}}</span></h6>

  <percent-stats-svg totals="{{~/totals}}" options="{{~/options}}" />
  <sex-stats-svg planets="{{~/planets}}" percents="{{~/percents}}" />
  <age-stats-svg legend="{{~/legend}}" ranges="{{~/ranges}}" />
</div>


<style>
h6 {
  text-align: center;
  font-size: 160%;
  margin: 20px 0 0 0;
  padding: 0 0 5px;
  font-weight: 300;
}
h6.total {
  color: #fd270d;
  border-bottom: solid 1px #dadada;
}
span.total {
  position: absolute;
  text-align: center;
  right: 10px;
  padding: 0 5px;
}
.title {
  text-align: center;
  color: #747474;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.debate-stats {
  float: left;
  width: 100%;
  background: #ffffff;
  border-radius: 30px 0px 30px 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.age-graph {
  margin: 20px;
  height: 220px;
}

.stats-box {
  margin: 20px;
}

</style>

<script>
// polyfill map
// TODO delete me when doing koa polyfills
if (typeof Map === 'undefined')
  window.Map = require('es6-map')
import assign from '../lib/lodash/assign'
import after from '../lib/lodash/after'
import ageStats from '../lib/calc/age-stats'
import Stats from '../api/age-stats'

component.exports = {
  isolated: true,
  dd: new Map,
  onconfig () {
    this.set('options', [
      {bg: '#f6f6f6', fg: '#2e8034', text: "Muy de acuerdo", icon: 'mas-mas'},
      {bg: '#f6f6f6', fg: '#5a9727', text: "De acuerdo", icon: 'mas'},
      {bg: '#f6f6f6', fg: '#cc4d41', text: "En desacuerdo", icon: 'woa'},
      {bg: '#f6f6f6', fg: '#bb0217', text: "Muy en desacuerdo", icon: 'woa-woa'},
      // {bg: '#f6f6f6', fg: '#ff3000', text: "star test", icon: 'star'},
    ])
    this.observe('debate', (id, __id) => {
      if (!id) return

      this.stats = new Stats('debate', id)
      // really I should do this in stats ... for now, this is fine
      let onloaded = after(2, () => {
        let stats = this.stats.data
        this.set(this.calc(stats))
      })
      this.stats.until('/', onloaded)
      if (api.my.opinion) {
        api.my.opinion.until('/', onloaded)
        let key = id + '.' + api.yo
        if (this.on_opinion) api.my.opinion.off(__id + '.' + api.yo, this.on_opinion)
        api.my.opinion.on(key, this.on_opinion = (d, _d) => {
          let stats = this.stats.data
          if (stats) {
            if (_d) ageStats.subtract(api.me, stats, _d)
            ageStats.add(api.me, stats, d)
            this.set(this.calc(stats))
          }
        })
      } else onloaded()
    })
  },
  calc (data) {
    let num_planets = 2
    let total = 0
    let totals = [0, 0, 0, 0]
    let totals_p = [0, 0, 0, 0]
    let planets = [0, 0, 0, 0]
    let percents = [0, 0, 0, 0]
    let ranges = new Array(api.ages.length + 1)
    let ages = api.ages.concat('>')
    let r, pr, i, sum, gender, pos, k, t
    for (i = 0; i < ages.length; i++) {
      let age = ages[i]
      if (i) pr = r
      r = age
      sum = 0
      for (gender = 0; gender < num_planets; gender++) {
        for (pos = 0; pos < 4; pos++) {
          k = age + '-' + gender + pos
          if (t = data[k]) {
            totals[pos] += t
            planets[gender] += t
            sum += t
          }
        }
      }

      ranges[i] = sum
      total += sum
    }

    totals.reverse()

    for (gender = 0; gender < num_planets; gender++)
      percents[gender] = total > 0 ? planets[gender] / total * 100 : 0

    for (i = 0; i < 4; i++) {
      totals_p[i] = total > 0 ? Math.round(totals[i] / total * 100) : 0
    }

    return {
      planets: planets,
      percents: percents,
      ranges: ranges,
      total: total,
      totals: totals,
      totals_p: totals_p,
      stats: data,
    }
  },
}
</script>
