<link rel='ractive' href='../partials/sex-stats.html'>
<link rel='ractive' href='../partials/age-stats.html'>

<div class="debate-stats">
  <h4 class="title">Estadísticas</h4>
  <h6 class="total">Total opiniones <span class="total">{{~/total}}</span></h6>

  {{#if ~/totals}}
    <div class="stats-box">
      <div class="bar">
        <div class="stat-text">Muy de acuerdo</div>
        <button class="button-mas-mas {{~/d.pos === 2 ? 'active' : ''}}">
          <i class="fa fa-check"></i>
          <i class="fa fa-check"></i>
        </button>
        <span class="num_votes">{{~/totals.3}}</span>
        <div style="position: relative; padding-top: 24px;">
          <button class="bar shadow" style="width: {{~/bar_width}}px"></button>
          <button class="bar mas-mas" style="{{#if ~/totals.3}}color:#fff;width:{{~/muyDeAcuerdo}}px{{else}}width:0{{/if}}">{{~/totals_p.3}}%</button>
        </div>
      </div>
      <div class="bar">
        <div class="stat-text">De acuerdo</div>
        <button class="button-mas {{~/d.pos === 1 ? 'active' : ''}} single">
          <i class="fa fa-check"></i>
        </button>
        <span class="num_votes">{{~/totals.2}}</span>
        <div style="position: relative; padding-top: 24px;">
          <button class="bar shadow" style="width: {{~/bar_width}}px"></button>
          <button class="bar mas" style="{{#if ~/totals.2}}color:#fff;width:{{~/deAcuerdo}}px{{else}}width:0{{/if}}">{{~/totals_p.2}}%</button>
        </div>
      </div>
      <div class="bar">
        <div class="stat-text">En desacuerdo</div>
        <button class="button-woa {{~/d.pos === -1 ? 'active' : ''}} single">
          <i class="fa fa-times"></i>
        </button>
        <span class="num_votes">{{~/totals.1}}</span>
        <div style="position: relative; padding-top: 24px;">
          <button class="bar shadow" style="width: {{~/bar_width}}px"></button>
          <button class="bar woa" style="{{#if ~/totals.1}}color:#fff;width:{{~/desAcuerdo}}px{{else}}width:0{{/if}}">{{~/totals_p.1}}%</button>
        </div>
      </div>
      <div class="bar">
        <div class="stat-text">Muy en desacuerdo</div>
        <button class="button-woa-woa {{~/d.pos === -2 ? 'active' : ''}}">
          <i class="fa fa-times"></i>
          <i class="fa fa-times"></i>
        </button>
        <span class="num_votes">{{~/totals.0}}</span>
        <div style="position: relative; padding-top: 24px;">
          <button class="bar shadow" style="width: {{~/bar_width}}px"></button>
          <button class="bar woa-woa" style="{{#if ~/totals.0}}color:#fff;width:{{~/muyDesAcuerdo}}px{{else}}width:0{{/if}}">{{~/totals_p.0}}%</button>
        </div>
      </div>
    </div>
  {{/if ~/totals}}

  <sex-stats planets="{{~/planets}}" percents="{{~/percents}}" />
  <age-stats legend="{{~/legend}}" ranges="{{~/ranges}}" />
</div>


<style>
h6 {
  text-align: center;
  font-size: 160%;
  margin: 20px 0 0 0;
  padding: 0 0 5px;
  font-weight: 300;
}
h6.total {
  color: #fd270d;
  border-bottom: solid 1px #dadada;
}
span.total {
  position: absolute;
  text-align: center;
  right: 10px;
  padding: 0 5px;
}
.num_votes {
  padding: 3px 0;
  position: absolute;
  right: 18px;
}
.title {
  text-align: center;
  color: #747474;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
div.bar {
  height: 55px;
  margin-left: 8px;
}

.stat-text {
  margin-left: 35px;
}

.debate-stats {
  float: left;
  width: 100%;
  background: #ffffff;
  border-radius: 30px 0px 30px 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.sex-stats {
  margin: 0 20px;
  /*for some stupid reason, it won't calc the height */
  height: 180px;
}

.age-graph {
  margin: 20px;
  height: 220px;
}

.stats-box {
  margin: 20px;
}
button.bar {
  margin: 5px 0;
  padding: 0;
  transition: .3s width;
  display: inline;
  position: absolute;
  height: 20px;
  left: 35px;
}
.stats-box .mas-mas {
  background: #2e8034;
}
.stats-box .mas {
  background: #5a9727;
}
.stats-box .woa {
  background: #cc4d41;
}
.stats-box .woa-woa {
  background: #bb0217;
}
button.shadow {
  background: #f6f6f6;
}

button {
  padding: 4px 10px;
}
.active {
  background-color: #333;
}
.fa {
  margin: 0;
}


</style>

<script>
// polyfill map
// TODO delete me when doing koa polyfills
if (typeof Map === 'undefined')
  window.Map = require('es6-map')
import pie from 'easy-pie-chart'
import Chart from 'chart.js'
import assign from '../lib/lodash/object/assign'
import after from '../lib/lodash/function/after'
import ageStats from '../lib/calc/age-stats'
import Stats from '../api/age-stats'

component.exports = {
  isolated: true,
  dd: new Map,
  onconfig () {
    this.observe('debate', (id, __id) => {
      if (!id) return

      this.stats = new Stats('debate', id)
      // really I should do this in stats ... for now, this is fine
      let onloaded = after(2, () => {
        let stats = this.stats.data
        // let d = api.my.opinion.debate(id)
        let calc = this.calc(stats)
        this.set('totals', calc.totals)
        this.set('totals_p', calc.totals_p)
        this.set('total', calc.total)
        this.set('percents', calc.percents)
        this.set('planets', calc.planets)
        this.set('ranges', calc.ranges)
      })
      this.stats.until('/', onloaded)
      if (api.my.opinion) {
        api.my.opinion.until('/', onloaded)
        let key = id + '.' + api.yo
        if (this.on_opinion) api.my.opinion.off(__id + '.' + api.yo, this.on_opinion)
        api.my.opinion.on(key, this.on_opinion = (d, _d) => {
          let stats = this.stats.data
          if (stats) {
            if (_d) ageStats.subtract(api.me, stats, _d)
            ageStats.add(api.me, stats, d)
            let calc = this.calc(stats)
            this.set('totals', calc.totals)
            this.set('totals_p', calc.totals_p)
            this.set('total', calc.total)
            this.set('percents', calc.percents)
            this.set('planets', calc.planets)
            this.set('ranges', calc.ranges)
          }
        })
      } else onloaded()
    })
  },
  oncomplete () {
    let stats_el = this.find('.debate-stats')
    // TODO: resize me
    this.set('bar_width', stats_el.clientWidth - 100)
    let num_planets = this.get('S.moarPlanets') ? 4 : 2
    let colors = ['#f2d767', '#58176e', '#5e8cb4', '#d53084', '#e96b18', '#f2d767', '#58176e', '#5e8cb4', '#d53084', '#e96b18']
    let barColors = ['#D41A79', '#3CA0BB', '#118a21', '#9614b0']
    let options = {
      animate: {
        duration: 0,
        enabled: false
      },
      scaleColor: false,
      lineWidth: 10,
      rotate: 0,
      lineCap: 'butt'
    }

    let ranges = []
    let mages = api.ages.concat('>')
    let r, pr, a
    for (a = 0; a < mages.length; a++) {
      let rr = mages[a]
      if (a) pr = r
      r = rr
      ranges.push({
        label: (r === '>' ? '> ' + pr : (pr ? pr + '-' : '< ') + r) + ' years',
        value: 0, // s
        color: colors[a]
      })
    }
    this.set('legend', ranges)

    let els = this.findAll('.sex-graph')
    for (let i = 0; i < num_planets; i++) {
      let p = new pie(els[i], assign({}, options, {barColor: barColors[i]}))
      this.observe('percents.'+i, function (v) { p.update(v) })
    }

    let ctx = this.find('canvas').getContext('2d')
    let chart = new Chart(ctx).Doughnut(ranges, {
      responsive: false,
      segmentShowStroke: true,
      animateRotate: false,
    })
    this.observe('ranges', (r) => {
      if (r) for (let i = 0; i < r.length; i++) {
        chart.segments[i].value = r[i]
        // this is a stupid hack to remove NaN values on initial 0
        chart.segments[i].circumference = 3
        this.set('legend.'+i+'.value', r[i])
      }
      chart.update()
    })
  },
  calc (data) {
    let num_planets = 2
    let total = 0
    let totals = [0, 0, 0, 0]
    let totals_p = [0, 0, 0, 0]
    let planets = [0, 0, 0, 0]
    let percents = [0, 0, 0, 0]
    let ranges = new Array(api.ages.length + 1)
    let ages = api.ages.concat('>')
    let r, pr, i, sum, gender, pos, k, t
    for (i = 0; i < ages.length; i++) {
      let age = ages[i]
      if (i) pr = r
      r = age
      sum = 0
      for (gender = 0; gender < num_planets; gender++) {
        for (pos = 0; pos < 4; pos++) {
          k = age + '-' + gender + pos
          if (t = data[k]) {
            totals[pos] += t
            planets[gender] += t
            sum += t
          }
        }
      }

      ranges[i] = sum
      total += sum
    }

    for (gender = 0; gender < num_planets; gender++)
      percents[gender] = planets[gender] / total * 100

    for (i = 0; i < 4; i++) {
      totals_p[i] = Math.round(totals[i] / total * 100)
    }

    return {
      planets: planets,
      percents: percents,
      ranges: ranges,
      total: total,
      totals: totals,
      totals_p: totals_p,
      stats: data,
    }
  },
  computed: {
    limits () {
      let r = { sum: 0, max: 0 }
      let values = this.get('totals')
      if (values) for (let i = 0; i < values.length; i++) {
        let v = values[i]
        r.sum += v
        if (v > r.max) r.max = v
      }
      return r
    },
    muyDeAcuerdo () {
      let v = this.get('totals.3')
      let c = this.get('limits')
      let px = this.get('bar_width')
      return (v / c.max * px).toFixed(2)
    },
    deAcuerdo () {
      let v = this.get('totals.2')
      let c = this.get('limits')
      let px = this.get('bar_width')
      return (v / c.max * px).toFixed(2)
    },
    desAcuerdo () {
      let v = this.get('totals.1')
      let c = this.get('limits')
      let px = this.get('bar_width')
      return (v / c.max * px).toFixed(2)
    },
    muyDesAcuerdo () {
      let v = this.get('totals.0')
      let c = this.get('limits')
      let px = this.get('bar_width')
      return (v / c.max * px).toFixed(2)
    }
  },
}
</script>
