<link rel='ractive' href='../partials/debate-sm.html'>
<link rel='ractive' href='../partials/poll-sm.html'>

<!-- {{#if ~/txt}}
  <div class="search">
    searching for: '{{~/txt}}'
    {{#if ~/results > 0}}
      {{~/results}} results
    {{elseif ~/results === 0}}
      no results
    {{else}}
      loading...
    {{/if}}
    <span class="clear-search" on-tap="clear-search"><i class="fa fa-times" /> clear</span>
  </div>
{{/if ~/txt}} -->

<!-- <div class="test-panel">
  <div>test panel</div>
  <div>list: {{~/list.length}}</div>
  <div>wait: {{~/waiting_list.length}}</div>
  <div>t_debates: {{~/t_debates}}</div>
  <div>t_polls: {{~/t_polls}}</div>
  <button on-click="go()">get more</button>
</div> -->

<div class="debates">
  {{#each ~/list}}
    {{#if .options}}
    <poll-sm id="{{._id}}" d={{.}} view="list" />
    {{else}}
    <debate-sm id="{{._id}}" d={{.}} view="list" />
    {{/if}}
  {{/each}}
</div>

<style>
.search {
  padding: 20px;
  border-radius: 10px;
  border: solid 1px #00f;
  background: #83F7FF;
}
.clear-search {
  float: right;
  margin-right: 10px;
}

/*
.test-panel {
  z-index: 2000;
  border: solid 1px #000;
  background: #ccc;
  position: fixed;
  top: 100px;
  right: 200px;
}
*/

</style>

<script>
import scroll from '../lib/on-scroll.js'
import masonry from 'masonry-layout'
import assign from '../lib/lodash/assign'
import throttle from '../lib/lodash/throttle'
import after from '../lib/lodash/after'
import { insert, insert_d, remove_d } from '../lib/ordered-array'
import { created_asc } from '../lib/order-by'


component.exports = {
  isolated: true,
  oninit () {
    let list = this.list = []
    this.set('list', list)
    this.clear()
    // this.set('waiting_list', this.waiting_list)
    // this.set({
    //   t_polls: this.t_polls,
    //   t_debates: this.t_debates,
    // })

    Ractive.header.on('category', this.on_category = (category) => {
      this.set('category', (this.category = category ? category._id : null))
    })

    this.op = this.get('opinions')

    let category = this.get('category')
    Ractive.header.fire('category', category ? {_id: category} : null)
    let tag = this.get('tag')

    this.set('sort', true)
    this.set('query', this.query = assign({}, {
      sort: '+created',
      limit: 27,
      creator: this.op ? this.op : this.get('creator'),
      category: category,
      tag: tag,
    }))

    this.layout = throttle(() => {
      if (this.m) setTimeout(() => {
        // this.m.reloadItems()
        this.m.layout()
      }, 1)
    }, 500, true)

    this.observe('creator', (creator) => {
      this.set('query.creator', this.query.creator = creator)
      this.clear()
      this.go()
    }, {init: false})

    this.observe('top', (top) => {
      this.set('query.top', this.query.top = top || null)
      this.clear()
      this.go()
    }, {init: false})

    this.observe('tag', (tag) => {
      this.set('query.tag', this.query.tag = tag)
      this.clear()
      this.go()
    }, {init: false})

    this.observe('category', (category) => {
      console.info('category', category)
      // debugger
      Ractive.header.fire('category', category ? {_id: category} : null)
      this.set('query.category', this.query.category = category)
      this.clear()
      this.go()
    }, {init: false})

    this.on('clear-search', () => {
      this.set('query.text', null)
      Ractive.header.set('text', '')
      Ractive.header.fire('clear')
      Ractive.header.fire('search', '')
    })

    Ractive.header.on('search', this.on_search = (_txt) => {
      this.set('query.text', _txt)
      this.clear()
      this.go()
    })

    Ractive.nexus.debate.on('+', this.on_add = (d) => {
      this.add(d)
    })

    Ractive.nexus.debate.on('-', this.on_remove = (id) => this.remove(id))
  },

  onteardown () {
    Ractive.header.off('search', this.on_search)
    Ractive.header.off('category', this.on_category)
    Ractive.nexus.debate.off('+', this.on_add)
    Ractive.nexus.debate.off('-', this.on_remove)
  },

  clear () {
    // if (this.list.length) debugger
    this.set('list.length', 0)
    // if (this.list.length) this.list.splice(this.list.length)
    this.t_debates = Infinity
    this.t_polls = Infinity
    this.all_loaded = 0
    this.waiting_list = []
    this.exists = {} // map of ids -> offset (for adding and removing)
  },

  matches (d) {
    if (this.op) return this.op !== d._creator

    let m = false
    if ( this.query.creator && (m = true) && this.query.creator === d._creator
      || this.query.category && (m = true) && this.query.category === d._category
      || this.query.tag && (m = true) && ~d._tag.indexOf(this.query.tag)
    ) return true

    return !m
  },

  oncomplete () {
    let el = this.find('.debates')
    this.els = this.findAll('.debate', {live: true})
    let movil = window.isMobile
    if (!movil || window.screen.width > 578) {
      // dumbass hack to use masonly in views/listing (for the resize)
      window.masonry =
      this.m = new masonry(el, {
        itemSelector: '.debate',
        columnWidth: 289,
        gutter: 20,
      })
    }

    // start it off!
    this.go(() => {
      console.info('done loading first ones...')
      let s = scroll(null, 2200, (cb) => {
        // logic is, here we will pop items off of the queue and append them into masonry.
        // then, we do another query for more if the queue is less than 9
        // ...

        this.go(cb)
      })
      this.once('teardown', () => {
        s.cancel()
      })
    })
  },

  add (d, _id) {
    let id = _id || d._id
    if (this.exists[id] !== void 0 || !this.matches(d)) return
    insert_d(d, this.list, this.exists, created_asc)
    if (this.m) {
      this.m.reloadItems()
      // this.m.layout()
      this.layout()
    }
  },

  remove (id) {
    if (remove_d(id, this.list, this.exists) !== void 0) this.layout()
  },

  process_waiting () {
    let append = []
    let c = 0
    let max = Math.max(this.t_debates, this.t_polls)
    for (var i = 0; i < this.waiting_list.length; i++) {
      let d = this.waiting_list[i]
      if (d.created >= max) {
        this.waiting_list.splice(i--, 1)
        this.exists[d._id] = insert(d, append, created_asc) + this.list.length
        if (++c > 5 && this.waiting_list.length) {
          setTimeout(() => this.process_waiting(), 200)
          break
        }
      }
    }

    if (append.length) {
      let len = this.list.length
      this.list.push.apply(this.list, append)
      if (this.m) {
        let els = this.findAll('.debate').splice(len)
        this.m.appended(els)
        this.layout()
      }
    }
  },

  go (next) {
    if (!next) next = function () {}
    if (this.all_loaded >= 2) return next()
    this.set('loading', true)

    let query = this.get('query')
    let list = this.get('list')
    let opinions_creator = this.get('opinions')
    let txt = query.text
    let action = opinions_creator ? 'opinion:debate*' : 'debate' + (txt ? '@' : '*')
    let params = assign({skip: this.t_debates === Infinity ? 0 : this.t_debates}, query)
    let done = after(2, () => {
      // after adding all to the waiting_list, we're gonna process it
      this.process_waiting()
      next()
    })

    if (this.t_debates < this.t_polls && this.t_debates !== Infinity) done()
    else
    api.action(action, params, (data) => {
      // these are temporary until I fix the api
      this.set('loading', false)
      for (let i = 0; i < data.length; i++) {
        let d = data[i]
        if (!d) continue

        d._creator = d.creator._id
        d._category = d.category._id
        d._tag = d.tag.map((t) => t._id)
        // delete d.category
        // delete d.creator
        // delete d.tag
        Ractive.nexus.dd.set(d._id, d)
        Ractive.nexus.debate.insert(d)

        // save oldest post for next query
        if (d.created < this.t_debates) this.t_debates = d.created
        insert(d, this.waiting_list, created_asc)
      }

      // if we're at the end of the list, don't ask more
      if (data.length !== params.limit) {
        this.all_loaded++
        // if no results were found
        if (this.t_debates === Infinity) this.t_debates = 0
        if (this.t_polls === Infinity) this.t_polls = 0
      }
      // this.t_debates += query.limit
      done()
    }, done)

    action = opinions_creator ? 'selection:poll*' : 'poll' + (txt ? '@' : '*')
    if (this.t_polls < this.t_debates && this.t_polls !== Infinity) done()
    else
    api.action(action, assign({skip: this.t_polls === Infinity ? 0 : this.t_polls}, query), (data) => {
      // these are temporary until I fix the api
      for (let i = 0; i < data.length; i++) {
        let d = data[i]
        if (!d) continue

        d._creator = d.creator._id
        d._category = d.category._id
        d._tag = d.tag.map((t) => t._id)
        // delete d.category
        // delete d.creator
        // delete d.tag
        Ractive.nexus.dd.set(d._id, d)
        Ractive.nexus.debate.insert(d)

        // save oldest post (lower timestamp) for next query
        if (d.created < this.t_polls) this.t_polls = d.created
        insert(d, this.waiting_list, (a, b) => b.created > a.created ? 1 : -1)
      }

      // if we're at the end of the list, don't ask more
      if (data.length !== params.limit) {
        this.all_loaded++
        // if no results were found
        if (this.t_polls === Infinity) this.t_polls = 0
      }
      // this.t_polls += params.limit
      done()
    }, done)
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
