<link rel='ractive' href='../partials/opinion-sm.html'>
<link rel='ractive' href='../partials/social-sm.html'>
<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/time.html'>

<div class="debate">
  <div class="header">
    <a href="/profile/{{~/d.creator._id}}" title="{{~/d.creator.name}}" class="header-foto">
      <foto src="{{~/d.creator.foto}}" size="z" />
    </a>

    <div class="header-text">
      <h4><a href="/profile/{{~/d.creator._id}}" title="{{~/d.creator.name}}"> {{~/d.creator.name}}</a></h4>
      <h5 style="width: {{~/view === 'list' ? '90%' : '100%'}}"><a href="/category/{{~/d.category._id}}">{{~/d.category.title}}</a></h5>
      <time time="{{~/d.created}}" class="since" />
    </div>

    <a class="stats" href="/debate/{{~/d._id}}" on-tap="show-stats">
      <div class="stats">
        <div class="stats-box">
          <span class="woa-woa" style="height: {{Math.round(~/muyDesAcuerdo * 36)}}px" />
          <span class="woa" style="height: {{Math.round(~/desAcuerdo * 36)}}px" />
          <span class="mas" style="height: {{Math.round(~/deAcuerdo * 36)}}px" />
          <span class="mas-mas" style="height: {{Math.round(~/muyDeAcuerdo * 36)}}px" />
        </div>
        <i class="fa fa-chevron-right"></i>
      </div>

      <div class="total">
        {{#if ~/limits.sum}}
          {{~/limits.sum}} opiniones
        {{else}}
          no opinions
        {{/if}}
      </div>
    </a>
  </div>

  {{#if ~/d.tag}}
  <div class="heading">
    <p class="tags">
      {{#each ~/d.tag}}
        <a class="tag" href="/tag/{{._id}}">#{{.title}}</a>[[' ']]
      {{/each ~/d.tag}}
    </p>
  </div>
  {{/if ~/d.tag}}

  {{#if ~/view === 'list'}}
    <div class="text">
      <a href="/debate/{{~/d._id}}" class="text list-text" decorator="markdown:{{~/d.text}}"></a>
    </div>
    {{#if ~/read_more}}
      <a href="/debate/{{~/d._id}}" class="read-more">leer más</a>
    {{/if ~/read_more}}
  {{else}}
    <div class="text" decorator="markdown:{{~/d.text}}"></div>
  {{/if}}

  {{#if ~/d.foto}}
    <p class="foto" on-tap="modal('foto', {title: ~/d.text, src: ~/d.foto, size: 'm', shape: 'sq'})">
      <foto src="{{~/d.foto}}" size="t" shape="sq" />
    </p>
  {{/if ~/d.foto}}

  <social-sm d="{{~/d}}" />
  <opinion-sm d="{{~/d}}" />
</div>

<style>
.stats {
  cursor: pointer;
  height: 36px;
  text-decoration: none;
  color: #b9b9b9;
  position: absolute;
  right: 10px;
}
.stats .fa {
  font-size: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 14px;
  right: -2px;
  color: #aaa;
}
.stats .fa:hover {
  color: #fd270d;
}
.stats div.total {
  font-size: 11px;
  white-space: nowrap;
  position: absolute;
  top: 38px;
  color: #828282;
  right: 10px;
}
.stats:hover {
  color: #fd270d;
}

.heading {
  width: 100%;
  display: inline-block;
}

.stats-box {
  width: 34px;
  height: 38px;
  margin: 0 2px;
}
.stats-box span {
  margin: 0;
  padding: 2px;
  transition: 0.3s height;
  position: relative;
  bottom: 0;
  display: inline-block;
  border-radius: 4px;
  vertical-align: bottom;
}
.stats-box .mas-mas {
  background: #2e8034;
}
.stats-box .mas {
  background: #5a9727;
}
.stats-box .woa {
  background: #cc4d41;
}
.stats-box .woa-woa {
  background: #bb0217;
}

.header-foto {
  position: absolute;
  left: 0;
}

.header-text {
  position: absolute;
  left: 72px;
}

.foto {
  width: 100%;
  margin: 0 0 15px;
}
.foto img {
  width: 100%;
}

.debate .text {
  color: #414141;
  margin: 0 15px;
  text-decoration: none;
  display: block;
}
@media (max-width: 768px) {
  .debate .text {
    font-size: 18px;
  }
}
.list-text {
  max-height: 200px;
  overflow: hidden;
}
.read-more {
  text-align: center;
  border: solid 1px #dadada;
  width: 50%;
  margin: 5px auto;
  border-radius: 4px;
  display: block;
}
.tags {
  margin: 0 10px;
}
</style>



<script>
component.exports = {
  isolated: true,
  modal: require('../modal'),
  oninit () {
    let id = this.get('id')
    let d = this.get('d') || Ractive.nexus.db.get(id)
    this.set('category', api.category.get(this.get(d.$category)))

    api.on('auth', this.on_auth = () => {
      api.my.opinion.on(id + '.' + api.yo, this.on_opinion = (d, _d) => {
        let pos, totals
        if (totals = this.get('d.totals')) {
          if (_d && (pos = _d.pos)) totals[pos > 0 ? pos + 1 : pos + 2]--
          if (pos = d.pos) totals[pos > 0 ? pos + 1 : pos + 2]++
          this.set('d.totals', totals)
        }
      })
    })
    if (api.yo) this.on_auth()
    api.on('deauth', this.on_deauth = (yo) => {
      api.my.opinion.off(id + '.' + yo, this.on_opinion)
    })
    this.on('show-stats', () => {
      if (window.isMobile && this.parent) {
        this.parent.toggle('showDetail')
      }
    })
  },
  oncomplete () {
    let n
    if (this.get('view') === 'list') {
      n = this.find('a.text')
      this.set('read_more', n.scrollHeight - 10 > n.clientHeight)
    }
  },
  onrender () {
    let n
    if (n = this.find('.foto img')) {
      n.style.height = n.clientWidth + 'px'
    }
  },
  onteardown () {
    api.off('auth', this.on_auth)
    api.off('deauth', this.on_deauth)
    if (this.on_opinion && api.yo) api.my.opinion.off(this.get('id') + '.' + api.yo, this.on_opinion)
  },
  computed: {
    limits () {
      let r = { sum: 0, max: 0 }
      let totals = this.get('d.totals')
      if (totals) for (let i = 0; i < totals.length; i++) {
        let v = totals[i]
        r.sum += v
        if (v > r.max) r.max = v
      }
      return r
    },
    muyDeAcuerdo () {
      let c = this.get('limits')
      if (!c.max) return 0
      let v = this.get('d.totals.3')
      return v / c.max
    },
    deAcuerdo () {
      let c = this.get('limits')
      if (!c.max) return 0
      let v = this.get('d.totals.2')
      return v / c.max
    },
    desAcuerdo () {
      let c = this.get('limits')
      if (!c.max) return 0
      let v = this.get('d.totals.1')
      return v / c.max
    },
    muyDesAcuerdo () {
      let c = this.get('limits')
      if (!c.max) return 0
      let v = this.get('d.totals.0')
      return v / c.max
    },
  },
  decorators: {
    markdown: require('../lib/decorators/markdown')
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
