<link rel='ractive' href='../partials/categories.html'>
<link rel='ractive' href='../partials/add-media.html'>
<link rel='ractive' href='../partials/tag-completer.html'>

<div class="square">


      <div class="row-movil">
        <!-- <categories L="{selector:'Seleccione una categoría', selected: '', show_button: true}" on-select="category" class="{{~/errors.d.category ? 'invalid' : ''}}" /> -->
        <select value="{{d.category}}" class="{{errors.d.category ? 'invalid' : ''}}">
          <option >Selecciona una categoria</option>
          {{#each categories}}
            <option value="{{._id}}">{{.title}}</option>
          {{/each}}
        </select>
      </div>
      <div class="row-movil {{~/errors.d.tag ? 'invalid-tag' : ''}}">
        <tag-completer selected="{{~/tags}}" />
      </div>
      <div class="row-movil">
        <textarea
          placeholder="Escribe tu opinion"
          name="text"
          maxlength="5000"
          value="{{~/d.text}}"
          class="{{~/errors.d.text ? 'invalid' : ''}}">
        </textarea>
      </div>


    <div class="row-movil">
      <!--  style="display: {{~/}}" -->
      <add-media d="{{~/d}}" popup="{{true}}" />
    </div>
    <button on-tap="submit" class="row-movil button-opina-debate">
      Opinar
    </button>

</div>

<style>
.button-opina-debate{
  background: #FF4314;
  color: #FFF;
  width: 96%;
  padding: 9px 15px;
  height: 44px;

}
.row-movil{
  width: 100%;
}
.categories {
  position: fixed;
  z-index: 100;
  margin-top: -15px;
}

.categories-button {
  float: none;
  text-align: center;
}

.foto-crop {
  margin-left: 10px;
  width: 240px;
  margin: 0 auto;
  text-align: center;
}

.square {
  width: 100%;
  margin: 0 auto;
  padding-top: 24px;
}

.invalid-tag input,
.invalid {
  border: solid 1px #f00;
}

.video-icons {

}
.picture-icon {
  margin-bottom: 20px;
  font-size: 69px;
}
.foto-upload {
  margin: auto;
}
/*.add-media-container {
  width: 90%;
}*/

.video-icons,
.media-tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 10px 5px;
}

.media-tab {
  cursor: pointer;
  height: 35px;
  /*width: 35px;*/
  width: 70px;
  border: solid 1px #ccc;
  padding: 5px;
  border-radius: 6px;
}

.video-icon {
  height: 50px;
  width: 50px;
  /*border: solid 1px #ccc;*/
  padding: 5px;
  font-size: 40px;
}

li.active {
  background-color: #eee;
  color: #f00;
}


.categories-button {
  margin-bottom: 20px;
}
.cancel {
  width: 10px;
  position: absolute;
  right: 60px;
  bottom: 300px;
  font-size: 24px;
}
button.done {
 position: relative;
 top: 0px;
 right: 0px;
}
</style>

<script>
import pluck from '../lib/lodash/map'
import Validator from '../validator'
import { vimeo_id, youtube_id, vine_id, vertele_id, iframe_src } from '../lib/parse/videoUrls'


component.exports = {
  isolated: true,
  oninit () {
    this.set ({
      active: 'upload',
      // url: `<iframe src="http://cdnapi.kaltura.com/p/1910301/sp/191030100/embedIframeJs/uiconf_id/28928951/partner_id/1910301?iframeembed=true&playerId=verteletv-main-clip-571e3bcee87d1&entry_id=1_a9s8ncyo&flashvars[streamerType]=auto" width="560" height="395" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0"></iframe>`,
      // url: `<iframe width="420" height="315" src="https://www.youtube.com/embed/sNPnbI1arSE" frameborder="0" allowfullscreen></iframe>`,
      // active: 'video',
      menu: false,
      'd.pos': 2,
    })
    this.validator = new Validator('d', {
      'text': {required: true, min: 2, max: 5000},
      'category': {required: true, type: 'id'},
      'pos': {required: true, type: 'integer', min: -2, max: 2},
      'tag': {required: true, type: 'array', min: 1, max: 3},
      'foto': {required: false, type: 'id'},
    })
    this.on('category', (category) => {
      this.set('d.category', category._id)
      if (this.submitted) {
        let form = this.validator.validate(this)
        this.set('errors', form.errors)
      }
    })
    api.category.until('/', () => {
      let list = api.category.list
      let len = Math.round(list.length / 2)
      let l1 = list.slice(0, len)
      let l2 = list.slice(len)
      this.set('categories', list)
      this.set('l1', l1)
      this.set('l2', l2)
      this.set('loading', false)
    })
    this.observe('tags', (tags) => {
      this.set('d.tag', pluck(tags, '_id'))
    })
    this.on('submit', (event) => {
      event.original.preventDefault()
      if (this.get('saving')) return
      this.submitted = true
      this.fire('submitting', () => {
        let form = this.validator.validate(this)
        this.set('errors', form.errors)
        if (form.valid) {
          // TODO spinner
          this.set('saving', true)
          api.action('debate+', form.data, (d) => {
            this.set('saving', false)
            Ractive.nexus.debate.create(d)
            this.parent.set('debate', false)
          })
        }
      })
    })
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
