<ul class="footer">
  <li class="link">
    &nbsp;
  </li>
  <li class="link">
    &nbsp;
  </li>
  <li class="link">
    &nbsp;
  </li>
  <li class="link">
    <a href="/information">INFORMACIÓN</a>
  </li>
  <li class="link">
    <a href="/help">ASISTENCIA</a>
  </li>
  <li class="link">
    <a href="/blog">BLOG</a>
  </li>
  <li class="link">
    <a href="/news">PRENSA</a>
  </li>
  <li class="link">
    <a href="/careers">EMPLEO</a>
  </li>
  <li class="link">
    <a href="/privacy">PRIVACIDAD</a>
  </li>
  <li class="link">
    <a href="/conditions">CONDICIONES</a>
  </li>
  <li class="link">
    <a href="/">AFFINATY © 2015</a>
  </li>
</ul>

<style>
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  text-align: center;
  float: right;
  color: #fff;
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
  z-index: -1000;
}
.footer:hover {
  z-index: 1000;
  background: #fff;
  color: #000;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
li { display: inline; }
.link {
  margin: 0 20px;
}
a {
  color: #fff;
}
.footer:hover a {
  color: #fd270d;
  /*text-decoration: none;*/
}

</style>
