<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/foto-crop.html'>

<div class="foto-upload col-{{~/size}}">
  {{#if ~/uploaded && ~/cropping}}
    {{#each ~/uploaded : i}}
      <foto-crop src="{{.}}" area-type="{{~/shape}}" rect="{{~/rect[i]}}" foto="{{~/cropped[i]}}" />
      <div class="cancel" on-tap="delete-foto" decorator="tip:'Eliminar',28">
        <!-- <i class="fa fa-ellipsis-h"></i> -->
        <i class="fa fa-close" ></i>
      </div>
    {{/each}}
  {{else}}
    <div class="dropzone-area dz-message">
      [[#if ~/icon]]
        <img src="/img/icon-foto.svg" width="40" height="40" />
        <!-- <i class="fa fa-[[icon]]"></i> -->
      [[/if]]
      [[#if ~/L.message]]
        <div class="message">[[~/L.message]]</div>
      [[/if]]
      {{#if ~/progress}}
        <div class="uploading">
          <div class="uploading-bar" style="width: {{~/progress.percent}}%" />
          <div class="uploading-progress">{{~/progress.bytes}} / {{~/progress.total}}</div>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>

<style>
.cancel {
  cursor: pointer;
}
.uploading {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 40px;
  border: solid 1px #dadada;
  border-radius: 8px;
  overflow: hidden;
  width: 220px;
}
.uploading-bar {
  position: absolute;
  left: 0;
  height: 40px;
  background: #f00;
}
.uploading-progress {
  color: #000;
  font-size: 12px;
  position: absolute;
  top: 15px;
  left: 50%;
  z-index: 2;
  margin-left: -25%;
}
</style>

<script>
import extend from '../lib/lodash/object/assign'
import Dropzone from 'dropzone'
Dropzone.autoDiscover = false

component.exports = {
  isolated: true,
  decorators: {
    tip: require('../lib/decorators/tip')
  },
  data: {
    shape: 'square'
  },
  onconfig () {
    this.set('uploaded', [])
    this.set('rect', [])
    this.set('cropped', [])
    this.set('size', 't')
  },
  oncomplete () {
    // for testing:
    // this.set('uploaded', [api.me.foto])
    // this.set(cropping', true)
    // this.set('progress', {
    //   percent: 50,
    //   bytes: 2000000 * 0.5,
    //   total: 2000000,
    // })

    let cfg = extend({
      previewsContainer: false,
      clickable: true,
      url: api.url + '/i/upload',
      headers: { 'Access-Token': api.token },
      parallelUploads: 3,
      maxFileSize: 5,
    }, this.get('dropzone-config'))

    let events = extend({
      totaluploadprogress: (percent, total, bytes) => {
        this.set('progress', {
          percent: percent.toFixed(2),
          bytes, total,
        })
      },
      addedfile: (file) => {
        this.set('progress', {
          percent: 0,
          bytes: 0,
          total: file.size,
        })
      },
      error: (ev) => {
        // TODO: if an error occurs, handle it
        console.log('error', ev)
        this.fire('delete-foto')
        this.set('error', ev)
      },
      complete: (ev) => {
        let res = JSON.parse(ev.xhr.response)
        this.merge('uploaded', res)
      },
      queuecomplete: () => {
        let uploaded = this.get('uploaded')
        if (uploaded && uploaded.length) {
          this.set('cropping', true)
        }
      }
    }, this.get('dropzone-events'))

    this.parent.on('submitting', this.onsubmitting = (cb) => {
      if (cb) if (this.get('cropping')) {
        this.fire('finish-cropping', cb)
      } else cb()
    })

    let dz = new Dropzone(this.find('.foto-upload'), cfg)
    for (let event in events) {
      dz.on(event, events[event])
    }
    this.on('delete-foto', () => {
      this.set('cropping', false)
      this.set('uploaded', [])
      this.set('cropped', [])
      this.set('progress', null)
    })
  },
  onteardown () {
    this.parent.off('submitting', this.onsubmitting)
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
