<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/spinner.html'>

<div class="mis-top">
  <div class="title section-title">
    Mis Top
  </div>
  <div class="tabs">
    <span class="tab{{#if ~/tab === 'post'}} active{{/if}}" on-tap="set('tab', 'post')">Publicaciones</span>
    <span class="tab{{#if ~/tab !== 'post'}} active{{/if}}" on-tap="set('tab', 'vote')">Opiniones</span>
  </div>
  <div class="list-container" style="max-height: {{~/rightHeight}}px">
    <div class="gm-scrollbar -vertical">
      <div class="thumb"></div>
    </div>
    <div class="gm-scrollbar -horizontal">
      <div class="thumb"></div>
    </div>
    <div class="gm-scroll-view">
    {{#if ~/loading}}
      <spinner scale="0.2" />
    {{else}}
      {{#if tab === 'vote'}}
        {{#each ~/vote}}
          <div class="list">
            <a href="/profile/{{.b._id}}">
              <foto src="{{.b.foto}}" size="z" />
            </a>
            <div class="vote">
              <a class="profile-name" href="/profile/{{.b._id}}">{{.b.name}}</a>
              <!-- {{.t}}:  -->
              {{~/VERB[.t]}}
              en
              <a href="{{ ~/href(this) }}" on-tap="remove">{{~/TYPE[.t]}}</a>
            </div>
            <span class="remove" on-tap="remove">
              <i class="fa fa-close" />
            </span>
          </div>
        {{else}}
          <div class="empty-text ellipsis">
            <div>no hay nuevas opiniones.</div>
            <div>tienes q esperar un poco</div>
          </div>
        {{/each ~/vote}}
      {{else}}
        {{#each ~/post}}
          <div class="list">
            <a href="/profile/{{.b._id}}">
              <foto src="{{.b.foto}}" size="z" />
            </a>
            <div class="action ellipsis">
              <!-- {{.t}}:  -->
              <a class="profile-name" href="/profile/{{.b._id}}">{{.b.name}}</a>
              {{~/VERB[.t]}}
              <a href="{{ ~/href(this) }}" on-tap="remove">{{~/TYPE[.t]}}</a>
            </div>
            <div class="text ellipsis">
              <!-- en -->
              <a href="/category/{{.c.category._id}}" class="category">{{.c.category.title}}</a>
              <a href="{{ ~/href(this) }}" on-tap="remove">“{{.c.text}}”</a>
            </div>
            <span class="remove" on-tap="remove">
              <i class="fa fa-close" />
            </span>
          </div>
        {{else}}
          <div class="empty-text ellipsis">
            <div>no hay nuevas publicaciones.</div>
            <div>tienes q esperar un poco</div>
          </div>
        {{/each ~/post}}
      {{/if}}
    {{/if ~/loading}}
    </div>
  </div>
  <div class="view-more">
    <a href="/mis-top">Ver mis top</a>
  </div>
</div>


<style>
.list-container {
  overflow-y: scroll;
  width: 100%;
  min-height: 100px;
  /*max-height: 360px; */
  background: #fff;
  position: relative;
}

.remove {
  position: absolute;
  right: 8px;
  top: 18px;
  font-size: 12px;
  font-weight: 300;
  color: #c3c3c3;
}
.remove:hover {
  color: #f00;
  cursor: pointer;
}

.vote {
  padding: 15px;
}
.tabs {
  text-align: center;
  background: #dadada;
}
.tab:hover, .active {
  color: #fff;
  /*background: #fd270d;*/
  background: #ADADAD;
  border-bottom: solid 1px #fff;
}
.tab {
  cursor: pointer;
  width: 50%;
  border-bottom: solid 1px #dadada;
  display: inline-block;
  float: left;
}
.tabs,
.list {
  width: 100%;
  background-color: #ffffff;
  border-bottom: solid 1px #dadada;
}
.list {
  height: 55px;
  padding-left: 5px;
  position: relative;
}
.empty-text {
  text-align: center;
  padding: 20px;
  font-size: 150%;
}
.empty-text,
.text {
  color: #c3c3c3;
  margin: 0 25px 0 5px;
  font-weight: 400;
}
.category {
  font-weight: 600;
}
.text a {
  color: #939393;
  padding-left: 5px;
}
.text a:hover {
  color: #fd270d;
}
.mis-top {
  margin-top: 20px;
  box-shadow: 5px 11px 20px -4px rgba(41,41,41,.53);
  border-radius: 30px 9px;
}
img {
  float: left;
  width: 49px;
  height: 49px;
  margin: 2px 15px 2px 2px;
}
a.tag {
  margin: 14px 4px;
}
</style>


<script>
let assign = require('../lib/lodash/object/assign')
let debounce = require('../lib/lodash/function/debounce')
let onresize = require('../lib/dom/element-onresize')
component.exports = {
  onconfig () {
    let list = []
    let layout = () => {
      let height = Math.floor((window.innerHeight - 30) / (2)) - (150)
      this.set('rightHeight', height)
    }
    let resizer = debounce(() => {
      setTimeout(layout, 1)
    }, 500, true)
    layout()
    window.addEventListener('resize', resizer)
    this.once('teardown', () => {
      window.removeEventListener('resize', resizer)
    })
    this.set('tab', window.localStorage.getItem('mis-top:tab') || 'post')
    this.set('list', this.list = list)
    this.set('TYPE', {
      // 'd': 'un comentario en esta publicación', // debate-comment
      // 'p': 'un comentario en esta encuesta', // poll-comment
      // 'u': 'en esta opinión', // debate-opinion
      // 'j': 'en esta encuesta', // poll-selection
      // 'm': 'un mensaje', // mbox-msg
      'D': 'una opinión', // new-debate
      'P': 'una encuesta', // new-poll
      'O': 'una opinión', // new-opinion
      'S': 'una encuesta', // new-selection
      // 'F': 'siguiendo', // new-follower
    })
    this.set('VERB', {
      // 'd': 'ha dejado', // debate-comment
      // 'p': 'ha dejado', // poll-comment
      // 'u': 'ha votado', // debate-opinion
      // 'j': 'ha participado', // poll-selection
      // 'j': 'ha cambiado su participación', // poll-selection
      // 'm': 'te ha enviado', // mbox-msg
      // 'D': 'ha creado', // new-debate
      // 'P': 'ha creado', // new-poll
      'D': 'ha publicado', // new-debate
      'P': 'ha creado', // new-poll
      'O': 'ha votado', // new-opinion
      'S': 'ha participado', // new-selection
      // 'F': 'te está', // new-follower
    })
    this.set('href', (d) => {
      switch (d.t) {
        // case 'd': return `/debate/${d.b._id}/comments` // debate-comment
        // case 'p': return `/poll/${d.b._id}/comments` // poll-comment
        // case 'u': return `/debate/${d.b._id}` // debate-opinion
        // case 'j': return `/poll/${d.b._id}` // poll-selection
        // case 'm': return `/inbox/thread/${d.c.mbox}` // mbox-msg
        case 'D': return `/debate/${d.c._id}` // new-debate
        case 'P': return `/poll/${d.c._id}` // new-poll
        case 'O': return `/debate/${d.c._id}` // new-opinion
        case 'S': return `/poll/${d.c._id}` // new-selection
        // case 'F': return `/profile/${d.c._id}` // new-follower
      }
    })
    this.set('loading', true)
    api.my.notifier.until('/', () => { api.category.until('/', () => {
      let vote = api.my.notifier.vote
      let post = api.my.notifier.post
      for (var i = 0; i < post.length; i++) {
        let p = post[i]
        if (!p.c) api.my.notifier._remove(p)
        else if (typeof p.c.category === 'string') p.c.category = api.category.get(p.c.category)
      }
      for (var i = 0; i < vote.length; i++) {
        let v = vote[i]
        if (!v.c) api.my.notifier._remove(v)
      }
      // console.profile('mis-top')
      this.set({
        loading: false,
        post, vote
      })
      // console.profileEnd('mis-top')
    }) })
    this.observe('tab', (tab) => {
      if (tab) window.localStorage.setItem('mis-top:tab', tab)
    })
    this.on('remove', (event) => {
      api.my.notifier._remove(event.context)
    })
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
