<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/spinner.html'>

<div class="mis-top">
  <div class="title">
    Mis Top
  </div>
  <div class="tabs">
    <span class="tab{{#if tab === 'post'}} active{{/if}}" on-click="set('tab', 'post')">Publicaciones</span>
    <span class="tab{{#if tab !== 'post'}} active{{/if}}" on-click="set('tab', 'vote')">Opiniones</span>
  </div>
  <div class="list-container">
    {{#if loading}}
      <spinner scale="0.2" />
    {{else}}
      {{#if tab === 'vote'}}
        {{#each vote}}
          <div class="list">
            <a href="/profile/{{b._id}}">
              <foto src="{{b.foto}}" size="z" />
            </a>
            <div class="vote">
              <a class="profile-name" href="/profile/{{b._id}}">{{b.name}}</a>
              {{VERB[.t]}} <a href="{{ link(this) }}" on-click="remove(this)">{{TYPE[.t]}}</a>
              <!-- <a href="/category/{{a.category._id}}">{{a.category.title}}</a> -->
              <!-- <div class="text ellipsis">
                <a href="{{ link(this) }}" on-click="remove(this)">“{{a.text}}”</a>
              </div> -->
            </div>
          </div>
        {{/each}}
      {{else}}
        {{#post}}
          <div class="list">
            <a href="/profile/{{b._id}}">
              <foto src="{{b.foto}}" size="z" />
            </a>
            <div class="item ellipsis">
              <a class="profile-name" href="/profile/{{b._id}}">{{b.name}}</a>
              {{VERB[.t]}}
              <!-- {{TYPE[.t]}} -->
              en
              <a href="/category/{{a.category._id}}">{{a.category.title}}</a>
              <div class="text ellipsis">
                <a href="{{ link(this) }}" on-click="remove(this)">“{{a.text}}”</a>
              </div>
            </div>
          </div>
        {{/post}}
      {{/if}}
    {{/if loading}}
  </div>
  <div class="view-more">
    <a href="/mis-top">Ver mis top</a>
  </div>
</div>


<style>
.list-container {
  overflow-y: scroll;
  width: 100%;
  min-height: 100px;
  max-height: 360px;
  background: #fff;
  position: relative;
}
.item {
  position: relative;
}

.vote {
  padding: 15px;
}
.tabs {
  text-align: center;
  background: #dadada;
}
.tab:hover, .active {
  color: #fff;
  /*background: #fd270d;*/
  background: #ADADAD;
  border-bottom: solid 1px #fff;
}
.tab {
  cursor: pointer;
  width: 50%;
  border-bottom: solid 1px #dadada;
  display: inline-block;
  float: left;
}
.tabs,
.list {
  width: 100%;
  background-color: #ffffff;
  border-bottom: solid 1px #dadada;
}
.list {
  height: 55px;
  padding-left: 5px;
}
.text {
  color: #c3c3c3;
  margin: 0 25px 0 5px;
  font-weight: 300;
}
.text a {
  color: #939393;
}
.text a:hover {
  color: #fd270d;
}
.mis-top {
  margin-top: 20px;
  box-shadow: 5px 11px 20px -4px rgba(41,41,41,.53);
  border-radius: 30px 9px;
}
img {
  float: left;
  width: 49px;
  height: 49px;
  margin: 2px 15px 2px 2px;
}
a.tag {
  margin: 14px 4px;
}
</style>


<script>
// let each = require('../lib/lodash/collection/each')
// let trunc = require('../lib/lodash/string/trunc')

component.exports = {
  onconfig () {
    let list = []
    this.set('tab', window.localStorage.getItem('mis-top:tab') || 'post')
    this.set('list', this.list = list)
    this.set('TYPE', {
      // 'd': 'un comentario en esta publicación', // debate-comment
      // 'p': 'un comentario en esta encuesta', // poll-comment
      // 'u': 'en esta opinión', // debate-opinion
      // 'j': 'en esta encuesta', // poll-selection
      // 'm': 'un mensaje', // mbox-msg
      'D': 'una opinión', // new-debate
      'P': 'una encuesta', // new-poll
      'O': 'en esta opinión', // new-opinion
      'S': 'en esta encuesta', // new-selection
      // 'F': 'siguiendo', // new-follower
    })
    this.set('VERB', {
      // 'd': 'ha dejado', // debate-comment
      // 'p': 'ha dejado', // poll-comment
      // 'u': 'ha votado', // debate-opinion
      // 'j': 'ha participado', // poll-selection
      // 'j': 'ha cambiado su participación', // poll-selection
      // 'm': 'te ha enviado', // mbox-msg
      // 'D': 'ha creado', // new-debate
      // 'P': 'ha creado', // new-poll
      'D': 'ha opinado', // new-debate
      'P': 'pide opinión', // new-poll
      'O': 'ha votado', // new-opinion
      'S': 'ha participado', // new-selection
      // 'F': 'te está', // new-follower
    })
    this.set('link', (d) => {
      switch (d.t) {
        // case 'd': return `/debate/${d.b._id}/comments` // debate-comment
        // case 'p': return `/poll/${d.b._id}/comments` // poll-comment
        // case 'u': return `/debate/${d.b._id}` // debate-opinion
        case 'j': return `/poll/${d.b._id}` // poll-selection
        case 'm': return `/inbox/thread/${d.c.mbox}` // mbox-msg
        case 'D': return `/debate/${d.c._id}` // new-debate
        case 'P': return `/poll/${d.c._id}` // new-poll
        case 'O': return `/debate/${d.c._id}` // new-opinion
        case 'S': return `/poll/${d.c._id}` // new-selection
        // case 'F': return `/profile/${d.c._id}` // new-follower
      }
    })
    this.set('loading', true)
    api.my.notifier.until('/', () => {
      // let post = api.my.notifier.post
      // let vote = api.my.notifier.vote
      let vote = []
      let post = []
      for (var i = 0; i < api.my.notifier.post.length; i++) {
        let p = api.my.notifier.post[i]
        if (p.c) {
          p.b.name += "oeoeynioeyoenyoenyoenyoeny oeyoenyeony yeony eony oenyoeny "
          p.a.category = api.category.get(p.a.category)
          post.push(p)
        }
      }
      for (var i = 0; i < api.my.notifier.vote.length; i++) {
        let v = api.my.notifier.vote[i]
        if (v.c) vote.push(v)
      }
      this.set({
        loading: false,
        post, vote
      })
    })
    this.observe('tab', (tab) => {
      if (tab) window.localStorage.setItem('mis-top:tab', tab)
    })
  },
  go () {
    this.set('loading', true)
    api.action('pop:tag*', this.get('query'), (data) => {
      this.set('loading', false)

      each(data.score, (v, id) => {
        let d = data[id]
        this.list.push({d: d, score: v, posts: data.posts[id]})
      })

      this.list.sort((a, b) => a.score > b.score ? -1 : 1)
    })
  },
  remove (d) {
    // api.my.notifier._remove(d)
  },
}
</script>
