<link rel='ractive' href='../partials/spinner.html'>
<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/time.html'>

<div class="notification-list-inner">
  {{#if loading}}
    <spinner />
  {{/if loading}}

  {{#if error}}
    ERROR: {{error}}
  {{/if error}}

  {{#each notifications:i}}
    <div class="item clearfix">
      <a href="/profile/{{.a.creator._id}}" class="foto">
        <foto src="{{.a.creator.foto}}" size="z" />
      </a>
      <div class="content">
        <h4>
          <a href="/profile/{{.a.creator._id}}" title="{{.a.creator.name}}"> {{.a.creator.name}}</a>
            <span class="remove" on-tap="remove(this)">
              <i class="fa fa-close" />
            </span>
          <time time="{{.a.created}}" class="since" />
        </h4>
        <div class="action">
          {{VERB[.t]}}
          <a href="{{ link(this) }}" on-tap="remove(this)">
          {{TYPE[.t]}}
          </a>
        </div>
      </div>
    </div>
  {{else}}
    <div class="no-content">
      no tienes notificaciones
    </div>
  {{/each notifications}}
</div>

<style>
.foto {
  float: left;
  margin: 0 10px;
  width: 55px;
}
.content {
  float: left;
  width: 300px;
}
.since, .remove {
  font-size: 12px;
  margin: 0 8px;
  font-weight: 300;
  position: absolute;
  right: 12px;
}
.since {
  bottom: 14px;
}
.remove:hover {
  color: #f00;
  cursor: pointer;
}
.item {
  background: #fff;
  border-top: solid 1px #dadada;
  padding: 8px 0;
  position: relative;
}
.no-content {
  font-size: 14px;
  padding: 8px;
  font-weight: bold;
  color: #888;
  text-align: center;
}
/*.item:hover {
  background: #F7EAFF;
}
.fa-quote-left {
  float: left;
}
.fa-quote-right {
  float: right;
}
h5 {
  margin-top: 22px;
}
.quote {
  margin-bottom: 0;
}
.text {
  padding: 8px 8px 0;
  font-weight: 300;
}*/
/*.content-preview {
  border-top: solid 1px #dadada;
  text-decoration: none;
}
.content-preview-inner {
  border: solid 1px #dadada;
  border-radius: 30px 9px 30px 9px;
  margin: 20px 0 0;
  width: 282px;
  text-align: center;
  color: #666;
  cursor: pointer;
  padding: 0 12px 8px;
}*/
h4 {
  margin: 5px 0;
}
.action {
  display: inline-block;
}
</style>

<script>
component.exports = {
  isolated: true,
  onconfig () {
    this.set('TYPE', {
      'd': 'un comentario en esta publicación', // debate-comment
      'p': 'un comentario en esta encuesta', // poll-comment
      'u': 'en esta opinión', // debate-opinion
      'j': 'en esta encuesta', // poll-selection
      // 'm': 'un mensaje', // mbox-msg
      // 'D': 'una opinión', // new-debate
      // 'P': 'una encuesta', // new-poll
      // 'O': 'esta opinión', // new-opinion
      // 'S': 'en esta encuesta', // new-selection
      'F': 'siguiendo', // new-follower
    })
    this.set('VERB', {
      'd': 'ha dejado', // debate-comment
      'p': 'ha dejado', // poll-comment
      'u': 'ha votado', // debate-opinion
      'j': 'ha participado', // poll-selection
      // 'j': 'ha cambiado su participación', // poll-selection
      // 'm': 'te ha enviado', // mbox-msg
      // 'D': 'ha creado', // new-debate
      // 'P': 'ha creado', // new-poll
      // 'O': 'ha votado', // new-opinion
      // 'S': 'ha participado', // new-selection
      'F': 'te está', // new-follower
    })
    this.set('link', (d) => {
      switch (d.t) {
        case 'd': return `/debate/${d.b._id}/comments` // debate-comment
        case 'p': return `/poll/${d.b._id}/comments` // poll-comment
        case 'u': return `/debate/${d.b._id}` // debate-opinion
        // case 'j': return `/poll/${d.b._id}` // poll-selection
        // case 'm': return `/inbox/thread/${d.c.mbox}` // mbox-msg
        // case 'D': return `/debate/${d.c._id}` // new-debate
        // case 'P': return `/poll/${d.c._id}` // new-poll
        // case 'O': return `/debate/${d.c._id}` // new-opinion
        // case 'S': return `/poll/${d.c._id}` // new-selection
        case 'F': return `/profile/${d.c._id}` // new-follower
      }
    })
  },
  oninit () {
    api.my.notifier.until('/', () => {
      this.set('notifications', api.my.notifier.list)
    })
  },
  remove (d) {
    api.my.notifier._remove(d)
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
