<link rel='ractive' href='../partials/sign-in.html'>
<link rel='ractive' href='../partials/set-up.html'>

<div class="voting clearfix">
  <div class="right">
    <button class="button-mas {{~/d.pos === 1 ? 'active-mas' : ''}}" on-tap="+1" decorator="tip:'De acuerdo',35">
      <i class="fa fa-check"></i>
    </button>
    <button class="button-mas-mas {{~/d.pos === 2 ? 'active-mas-mas' : ''}}" on-tap="+2" decorator="tip:'Muy de acuerdo',35">
      <i class="fa fa-check"></i>
      <i class="fa fa-check"></i>
    </button>
  </div>
  <div class="left">
    <button class="button-woa-woa {{~/d.pos === -2 ? 'active-woa-woa' : ''}}" on-tap="-2" decorator="tip:'Muy en desacuerdo',35">
      <i class="fa fa-times"></i>
      <i class="fa fa-times"></i>
    </button>
    <button class="button-woa {{~/d.pos === -1 ? 'active-woa' : ''}}" on-tap="-1" decorator="tip:'En desacuerdo',35">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="cancel">
    {{#if ~/d.pos}}
      <button class="cancel" style="background-color:{{~/params_vote.color}}" on-tap="cancel" decorator="tip:'Cancelar',35">
        {{~/params_vote.text}}
      </button>
    {{else}}
      <a class="button_opina" href="/debate/{{~/d._id}}">
        Opina
      </a>
    {{/if ~/d.pos}}
  </div>
</div>

<style>

.voting {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
  border-top: 1px solid #dadada;
  border-radius: 0px 0px 30px 9px;
}
button.cancel {
  padding: 6px 6px 8px 8px;
  color: #fff;
  position: relative;
  border: 1px solid #222;
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.15);
  border-radius: 7px;
  text-decoration: none;
  margin: 2px 0 3px -3px;
  font-size: 14px;
  line-height: .8;
  outline: 0;
  font-family: Pacifico;
}
button {
  cursor: pointer;
}
button.cancel .fa-ban {
  /*position: absolute;*/
  /*top: 7px;
  left: 8px;*/
}
button:hover {
  /*color: #333;*/
  /*background-color: #444;*/
}
.active {
  background-color: #333;
}
.active-woa-woa{
  background-color: #bb0217;
  color:#fff;
}
.active-woa{
  background-color: #cc4d41;
  color:#fff;
}
.active-mas{
  background-color: #5a9727;
  color:#fff;
}
.active-mas-mas{
  background-color: #2e8034;
  color:#fff;
}
.fa-ban {
  margin: 0;
  margin-left: 1px;
}
div.cancel {
  text-align: center;
  height: 32px;
}
.left {
  float: left;
  margin-left: 10px;
}
.right {
  float: right;
  margin-right: 10px;
}
.status {
  padding: 0px 0;
  text-align: center;
  white-space: nowrap;
}
.button_opina {
  font-family: 'Pacifico';
  color: #878589;
  display: inline-block;
  border: 1px solid #222;
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.15);
  border-radius: 7px;
  text-decoration: none;
  margin: 2px 0;
  padding: 6px 26px;
  font-size: 14px;
  line-height: 0.8;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  /*text-shadow: 1px 2px 1px rgba(0,0,0,.2);*/
  /*box-shadow: inset 2px 1px 0 rgba(255,255,255,.2),0 4px 4px rgba(0,0,0,.05)*/
}

</style>

<script>

// this doesn't work until I have a global list of components (TODO)
// import Modal from '../modal'

const params_buttoms = [
  { text: 'Muy en desacuerdo',
    color: '#bb0217'
  },
  {
    text: 'En desacuerdo',
    color: '#cc4d41'
  },
  {
    text: 'De acuerdo',
    color: '#5a9727'
  },
  {
    text: 'Muy deacuerdo',
    color: '#2e8034'
  }
]

component.exports = {
  isolated: true,
  modal: require('../modal'),
  oninit () {
    api.on('deauth', this.on_deauth = () => {
      this.set('d.pos', null)
    })

    api.on('auth', this.on_auth = () => {
      api.my.opinion.until('/', () => {
        this.set('d.pos', api.my.opinion.debate_pos(this.get('d._id') || null))
      })
    })
    if (api.yo) this.on_auth()

    this.on('+2', (e) => { this.pos(2) })
    this.on('+1', (e) => { this.pos(1) })
    this.on('-1', (e) => { this.pos(-1) })
    this.on('-2', (e) => { this.pos(-2) })
    this.on('cancel', (e) => { this.pos(0) })

    this.observe('d.pos', (pos) => {
      this.set('params_vote', params_buttoms[pos > 0 ? pos + 1 : pos + 2])
    })

  },
  pos (pos, skip) {
    if (!api.me) {
      // deactivated cause it breaks statistics
      // api.once('auth', () => {
      //   this.pos(pos, skip)
      // })
      return this.modal('sign-in', {header: false})
    }

    if (!skip) {
      let id = this.get('d._id')
      let p = api.my.opinion.debate_pos(id)
      if (pos === p && pos) pos = 0
      // console.info(p, '->', pos)
      if (!api.me.birthdate || !api.me.c || !api.me.p || api.me.planet == null) {
        this.modal('set-up', {prevote: true, title: 'Muy rápido, antes de opinar'}).once('teardown', () => {
          setTimeout(() => {
            this.pos(pos, !api.me.birthdate
              || !api.me.c
              || !api.me.p
              || api.me.planet == null ? true : false)
          }, 200)
        })
      } else {
        this.set('d.pos', pos)
        api.my.opinion.create({ debate: id }, pos)
      }
    }
  },
  onteardown() {
    api.off('auth', this.on_auth)
    api.off('deauth', this.on_deauth)
  },
  decorators: {
    tip: require('../lib/decorators/tip')
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
