<link rel='ractive' href='../partials/debate-sm.html'>
<link rel='ractive' href='../partials/poll-sm.html'>
<!-- <link rel='ractive' href='../partials/debate-create.html'> -->

<div>
  opinions: {{list.length}}
</div>
<div class="opinions">
  {{#each list}}
    <div class="opinion">
      <a href="/debate/{{debate}}">
        debate: {{debate}}, pos: {{pos}}
      </a>
    </div>
  {{else}}
    loading...
  {{/each}}
</div>

<style>
.opinion {
  padding: 5px;
  border-top: solid 1px #222;
}
</style>

<script>
import scroll from '../lib/on-scroll.js'
import assign from '../lib/lodash/object/assign'
import isEqual from '../lib/lodash/lang/isEqual'

function insert(element, array, comparer) {
  let location = locationOf(element, array, comparer) + 1
  array.splice(location, 0, element)
  return location
}

function locationOf(element, array, comparer, start, end) {
  if (array.length === 0) return -1

  start = start || 0
  end = end || array.length
  let pivot = (start + end) >> 1

  let c = comparer(element, array[pivot])
  if (end - start <= 1) return c == -1 ? pivot - 1 : pivot

  switch (c) {
    case -1: return locationOf(element, array, comparer, start, pivot)
    case 0: return pivot
    case 1: return locationOf(element, array, comparer, pivot, end)
  }
}

component.exports = {
  isolated: true,
  oninit () {
    console.warn('not done yet')
    debugger
  },
}
</script>
