
<link rel='ractive' href='../partials/selection-sm.html'>
<link rel='ractive' href='../partials/social-sm.html'>
<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/time.html'>
<link rel='ractive' href='../partials/poll-stats-movil.html'>

<div class="debate">
  <div class="header">
    <a href="/profile/{{~/d.creator._id}}" title="{{~/d.creator.name}}" class="header-foto">
      <foto src="{{~/d.creator.foto}}" size="z" />
    </a>

    <div class="header-text">
      <h4><a href="/profile/{{~/d.creator._id}}" title="{{~/d.creator.name}}"> {{~/d.creator.name}}</a></h4>
      <h5 style="width: {{~/view === 'list' ? '90%' : '100%'}}"><a href="/category/{{~/d.category._id}}">{{~/d.category.title}}</a></h5>
      <time time="{{~/d.created}}" class="since" />
    </div>
    <div class='expandable'>
      {{#if showDetail}}
      <div class="register-background" style="display: {{showDetail ? 'block' : 'none'}}">
        <div class="register-outer">
          <div class="register-box">
            <poll-stats-movil poll="{{id}}"></poll-stats-movil>
            <button class="detail-close" on-tap="set('showDetail',false)">Cerrar</button>
          </div>
        </div>
      </div>

      {{/if}}
    </div>
    <a class="stats" on-tap="show-stats">
      <div class="stats">
        <i class="fa fa-chevron-right"></i>
        <div class="stats-box">
          {{#each ~/d.options : i}}
          <button
            class="bar-bg"
            style="width: {{ bar(i, 52) }}px; margin: 0 0 {{ ~/margin }}px 0; padding: {{ ~/padding }}px"
            title="{{ bar_txt(i) }}">
          </button>
          {{/each}}
        </div>
      </div>

      <div class="total">
        {{#if ~/limits.sum}}
          {{~/limits.sum}} votos
        {{else}}
          sin votos
        {{/if}}
      </div>
    </a>
  </div>

  {{#if ~/d.tag}}
  <div class="heading">
    <p class="tags">
      {{#each ~/d.tag}}
        <a class="tag" href="/tag/{{ ._id }}">#{{ .title }}</a>[[' ']]
      {{/each ~/d.tag}}
    </p>
  </div>
  {{/if d.tag}}

  {{#if ~/view === 'list'}}
    <div class="text">
      <a href="/poll/{{ ~/d._id }}" class="text list-text" decorator="markdown:{{ ~/d.text }}"></a>
    </div>
    {{#if ~/read_more}}
      <a href="/poll/{{ ~/d._id }}" class="read-more">leer más</a>
    {{/if ~/read_more}}
  {{else}}
    <div class="text" decorator="markdown:{{~/d.text}}" />
  {{/if}}

  <h6>¿Qué opinas?</h6>
  <selection-sm d="{{ ~/d }}" />

  {{#if ~/d.foto}}
    <p class="foto" on-tap="modal('foto', {title: ~/d.text, src: ~/d.foto, size: 'm', shape: 'sq'})">
      <foto src="{{~/d.foto}}" size="t" shape="sq" />
    </p>
  {{/if ~/d.foto}}

  <social-sm d="{{ ~/d }}" />
</div>

<style>
.register-background{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  padding: .5em;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.register-close {
  display: block;
  content: "\00D7";
  background: #fff;
  color: #000;
  width: 30px;
  height: 30px;
  padding-right: 12px;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  line-height: 1px;
  text-indent: 1px;
  border-radius: 0 0 0 4px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index:999999;
}
.register-outer{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.register-box {
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 8px;
}
.detail{
  position: absolute;
  right: 4px;
  top: 50px;
  z-index: 99;
}
.detail-close {
  position: absolute;
  font-size: 24px;
  top: 0px;
  height: 50px;
  right: 2px;
}
.expandable {
  float: right;
  z-index: 9999999999999;
  top: 13px;
  position: fixed;
  width: 96%;
}
.heading {
  width: 100%;
  display: inline-block;
}
h6 {
  font-family: 'Pacifico';
  text-align: center;
  color: #fd270d;
  font-size: 110%;
  margin: 20px 0 0 0;
}
.stats {
  cursor: pointer;
  height: 36px;
  text-decoration: none;
  color: #aaa;
  position: absolute;
  right: 10px;
}
.stats .fa {
  font-size: 10px;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 16px;
  right: -9px;
  color: #aaa;
}
.stats .fa:hover {
  color: #fd270d;
}
.stats div.total {
  font-size: 13px;
  white-space: nowrap;
  position: absolute;
  top: 38px;
  color: #828282;
  right: 10px;
}
.stats:hover {
  color: #fd270d;
}

.header-foto {
  position: absolute;
  left: 0;
}

.header-text {
  position: absolute;
  left: 72px;
}


.stats-box {
  width: 55px;
}
.stats-box button {
  margin: 0;
  padding: 2px;
  transition: .3s width;
  display: block;
}

.social {
  margin-bottom: 10px;
}

.foto {
  width: 100%;
  margin: 0 0 15px;
  padding: 0;
}
.foto img {
  width: 100%;
}

.debate .text {
  color: #414141;
  margin: 0 15px;
  text-decoration: none;
  display: block;
}
@media (max-width: 768px) {
  .debate .text {
    font-size: 18px;
  }
}
.list-text {
  max-height: 200px;
  overflow: hidden;
}
.read-more {
  text-align: center;
  border: solid 1px #dadada;
  width: 50%;
  margin: 5px auto;
  border-radius: 4px;
  display: block;
}

.tags {
  margin: 0 10px;
}

.bar-bg {
  background: #fd270d;
}
</style>


<script>
component.exports = {
  isolated: true,
  modal: require('../modal'),
  onconfig () {
    this.set('bar', (i, px) => {
      let v = this.get('d.totals.'+i)
      let c = this.get('limits')
      return Math.round(v / c.max * px)
    })
    this.set('bar_txt', (i) => {
      return this.get('d.options.'+i+'.text')
    })
  },
  oninit () {
    let tags = this.get('d.tags')
    if (!tags || !tags.length) {
      this.set('d.tags', [
        {title: 'lala', _id: 1234},
        {title: 'hehe', _id: 1111},
        {title: 'jiji', _id: 1155},
      ])
    }
    this.on('show-stats', () => {
      if (window.isMobile) {
        if (this.parent) this.parent.toggle('showDetail')
        this.set('showDetail',true)
      } else {
        router.dispatch(`/poll/${this.get('d._id')}`)
      }
    })
  },
  onrender () {
    let n
    if (this.get('view') === 'list') {
      n = this.find('a.text')
      this.set('read_more', n.scrollHeight - 10 > n.clientHeight)
    }
    if (n = this.find('.foto img')) {
      n.style.height = n.clientWidth + 'px'
    }
  },
  computed: {
    limits () {
      let totals = this.get('d.totals')
      let r = { sum: 0, max: 0 }
      for (let i = 0; i < totals.length; i++) {
        let v = totals[i]
        r.sum += v
        if (v > r.max) r.max = v
      }
      return r
    },
    margin () {
      let c = this.get('d.options.length')
      return c > 2 ? 2 : 4
    },
    padding () {
      let p
      switch (this.get('d.options.length')) {
        case 2: p = 5; break
        case 3: p = 5; break
        case 4: p = 4; break
        case 5: p = 3; break
        default: p = 2; break
      }
      return p
    }
  },
  decorators: {
    markdown: require('../lib/decorators/markdown')
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
