<link rel='ractive' href='../partials/sex-stats-svg.html'>
<link rel='ractive' href='../partials/age-stats-svg.html'>
<link rel='ractive' href='../partials/percent-stats-svg.html'>

<div class="poll-stats">
  <h4 class="title">Estadísticas</h4>
  <h6 class="total">Total opiniones <span class="total">{{~/total}}</span></h6>

  <percent-stats-svg totals="{{~/totals}}" options="{{~/options}}" config="{winning_icon: 'star', bar: {fg: '#FB7868', bg: '#f6f6f6', winning: '#fd270d'}}" />
  <sex-stats-svg planets="{{~/planets}}" percents="{{~/percents}}" />
  <age-stats-svg legend="{{~/legend}}" ranges="{{~/ranges}}" />
</div>

<style>
h6 {
  text-align: center;
  font-size: 160%;
  margin: 20px 0 0 0;
  padding: 0 0 5px;
  font-weight: 300;
}
h6.total {
  color: #fd270d;
  border-bottom: solid 1px #dadada;
}
span.total {
  position: absolute;
  text-align: center;
  right: 10px;
  padding: 0 5px;
}
.title {
  text-align: center;
  color: #747474;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.poll-stats {
  width: 100%;
  background: #ffffff;
  border-radius: 30px 0px 30px 0px;
  margin-bottom: 20px;
  padding-top: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.age-graph {
  margin: 20px;
  height: 220px;
}

.stats-box {
  margin: 20px;
}

@media (max-width: 768px) {
  .stats-box {
    width: 100%;
  }
}

</style>


<script>
import extend from '../lib/lodash/assign'

component.exports = {
  isolated: true,
  oncomplete () {
    let id = this.get('id')
    let num_planets = this.get('S.moarPlanets') ? 4 : 2
    let ages = api.ages
    api.action('poll-stats', {_id: id, ages}, (data) => {
      this.set('options', data.options)
      let r, rr, i, sum, gender, option, k, t
      let count = data.options.length
      let totals = new Array(count)
      let planets = new Array(num_planets)
      let total = 0
      let ages = data.ages.concat('>')
      let ranges = new Array(ages.length)
      for (i = 0; i < count; i++) totals[i] = 0
      for (i = 0; i < num_planets; i++) planets[i] = 0
      for (i = 0; i < ages.length; i++) {
        rr = ages[i]
        r = rr
        sum = 0
        for (gender = 0; gender < num_planets; gender++) {
          for (option = 0; option < count; option++) {
            k = rr + '-' + gender + option
            if (t = data[k]) {
              totals[option] += t
              planets[gender] += t
              sum += t
            }
          }
        }

        ranges[i] = sum
        total += sum
      }

      let percents = new Array(count)
      for (gender = 0; gender < num_planets; gender++)
        percents[gender] = total > 0 ? planets[gender] / total * 100 : 0

      this.set({
        total: total,
        totals: totals,
        percents: percents,
        planets: planets,
        ranges: ranges,
      })
    })
  },
  computed: {
    limits () {
      let values = this.get('totals')
      let r = { sum: 0, max: 0 }
      for (let i = 0; i < values.length; i++) {
        let v = values[i]
        r.sum += v
        if (v > r.max) r.max = v
      }
      return r
    },
  },
  data: {
    percent (i, px) {
      let v = this.get('totals.'+i)
      let c = this.get('limits')
      return Math.round(v / c.max * (px || 100))
    },
    percent_total (i, px) {
      let v = this.get('totals.'+i)
      let c = this.get('total')
      return c ? Math.round(v / c * (px || 100)) : 0
    },
    text (i) {
      return this.get('options.'+i+'.text')
    }
  },
}
</script>
