<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/spinner.html'>

<div class="popular">
  <div class="list-container popular">
    {{#if ~/loading}}
      <spinner scale="0.2" />
    {{else}}
      {{#each ~/list}}
        <div class="list" on-mouseover-blur="toggle('engaged')">
          <div class="img">
            <a href="/tag/{{.d._id}}">
              <foto src="{{.d.foto}}" size="a" shape="sq" default="/img/default-tag.svg" />
            </a>
          </div>
          <div class="tag">
            <a class="tag_home" href="/tag/{{.d._id}}">#{{.d.title}}</a>
          </div>
          <!-- <div class="stats">
            <div class="opin">{{.score}} opins</div>
            <div class="opin">{{.posts}} posts</div>
          </div> -->
        </div>
      {{/each}}
    {{/if ~/loading}}
  </div>
</div>


<style>
.list-container {
  width: 100%;
  height: 160px;
  position: relative;
  overflow:hidden;
}
.list {
  float: left;
  width: 120px;
  background-color: #ffffff;
  margin: 0 4px;
  opacity: 0;
  transition: all 333ms ease-in-out;
  border-radius: 10px 20px 10px 20px;
  height: 159px
}
.list.loaded {
  opacity: 1;
}
.stats {
  width: 140px;
  color: #414141;
  text-align: center;
  font-size: 11px;
}
div.tag {
  font-size: 15px;
  text-align: left;
  height: 40px;
  margin-top: -6px;
}
div.opin {
  float: left;
  margin: 0 4px;
  width: 62px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.popular {
  max-height: 165px;
  background-color: #F0F0F0;
    border: 1px solid #F0F0F0;
    border-radius: 0 20px;
}
img {
  /*margin: 8px 8px 0 8px;*/
  width: 120px;
  height: 120px;
  border-radius: 10px 20px 0px 0px
}
.tag_home {
    padding: 0 4px;
    margin: 4px;
    /* border: solid 1px #fd270d; */
    /* border-radius: 8px; */
    /* color: #fd270d; */
    color: #014980;
    display: inline-block;
    text-align: left;
}
a.tag_home {
  margin: 4px;
  max-width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
</style>


<script>
component.exports = {
  isolated: true,
  onconfig () {
    var list = []
    this.set('list', this.list = list)
  },
  oninit () {
    this.observe('category', (category) => {
      this.set('list.length', 0)
      this.set('query.category', category)
      this.go()
    })

    // get the category changes from the header
    Ractive.header.on('category', (category) => {
      this.set('category', (category ? category._id : null))
    })
    this.doFade = (force) => {
      if (!this.get('engaged') || force) {
        this.list.unshift(this.list.pop())
        var els = this.findAll('.list')
        for (var i = 0; i < els.length; i++) {
          els[i].className = i === 0 && !force ? 'list loading' : 'list loaded'
        }
        if (els.length) setTimeout(() => {
          els[0].className = 'list loaded'
        }, 100)
      }
    }
    this.time = api.rolex.on(5000, () => {
      this.doFade()
    })
  },
  onteardown () {
    api.rolex.off(this.time)
  },
  go () {
    this.set('loading', true)
    api.action('pop:tag*', this.get('.query'), (data) => {
      this.set('loading', false)

      // each(data.score, (v, id) => {
      //   let d = data[id]
      //   this.list.push({d: d, score: v, posts: data.posts[id]})
      // })
      let add = []
      for (let id in data.score) {
        add.push({ d: data[id], score: data.score[id], posts: data.posts[id] })
      }

      this.list.push.apply(this.list, add)
      this.list.sort((a, b) => a.score > b.score ? -1 : 1)
      this.doFade(true)
    })
  }
}
</script>
