<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/time.html'>

<div class="relation">
  <div class="user clearfix">
    <div class="foto">
      <a href="/profile/{{~/d._id}}" title="{{~/d.name}}">
        <foto src="{{~/d.foto}}" size="a" />
      </a>
    </div>
    {{#if ~/auth}}
    <div class="follow-sm" on-tap="follow">
      {{#if ~/d.following}}
        <img src="/img/unfollow.svg" title="unfollow" width="20" height="20" />
      {{else}}
        <img src="/img/follow.svg" title="follow" width="20" height="20" />
      {{/if}}
      <div class="follow-text">
        {{#if ~/d.following}}
          No Seguir
        {{else}}
          Seguir
        {{/if}}
      </div>
    </div>
    {{/if ~/auth}}
    <div>
      <h4><a href="/profile/{{~/d._id}}" title="{{~/d.name}}">{{~/d.name}}</a></h4>
      <h5>{{~/d.title}}</h5>
    </div>
  </div>
</div>

<style>
.user {
  position: relative;
  width: 289px;
  background: #ffffff;
  border-radius: 30px 10px 30px 10px;
  margin: 20px;
  padding-top: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.foto{
  text-align: center;
  padding-bottom: 12px;
  height: 120px;
}
img {
  margin-right: 12px;
  margin-left: 15px;
  vertical-align: middle;
}
h4, h5 {
  margin: 0;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
h4 {
  padding-top: 7px;
  padding-bottom: 12px;
}
h5 {
  color: #747474;
  font-size: 16px;
  padding-bottom: 32px;
  height: 18px;
}
.follow-sm {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 50px;
  top: 50%;
  cursor: pointer;
  margin-top: -25px;
}
.follow-text {
  color: #737373;
  font-size: 11px;
  text-align: center;
}
</style>

<script>
component.exports = {
  isolated: true,
  oninit() {
    this.on('follow', () => {
      let following = this.get('d.following')
      api.action('relation' + (following ? '-' : '+'), {
        other: this.get('d._id'),
        creator: api.yo
      }, (data) => {
        this.set('d.following', following ? false : data)
      })
    })
    this.set('auth', !!api.yo)
    api.on('deauth', this.on_deauth = () => {
      this.set('auth', false)
    })
    api.on('auth', this.on_auth = () => {
      api.my.affinaties.until('/', () => {
        this.set('d.following', api.my.affinaties.get(this.get('d._id')))
        this.set('auth', true)
      })
    })
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
