<link rel='ractive' href='../partials/relation-sm.html'>
<link rel='ractive' href='../partials/spinner.html'>




<div class="list-container">
  <div class="gm-scrollbar-vertical">
    <div class="thumb"></div>
  </div>
  <div class="gm-scrollbar-horizontal">
    <div class="thumb"></div>
  </div>
  <div class="gm-scroll-view">
    {{#if ~/loading}}
      <spinner scale="0.2" />
    {{else}}
    <div class="relations">
      {{#each ~/list}}
        <!-- d: {{JSON.stringify(this)}} -->
        <relation-sm d="{{.}}" />
      {{else}}
        no relations
      {{/each ~/list}}
    </div>
    {{/if ~/loading}}
  </div>
</div>


<script>
import assign from '../lib/lodash/object/assign'
import onresize from '../lib/dom/element-onresize'
import throttle from '../lib/lodash/function/throttle'

component.exports = {
  isolated: true,
  onconfig () {
    this.set('movil', window.isMobile)
    this.set('list', this.list = [])
  },
  oninit () {
    let sort = this.get('sort') || '+created'
    let creator = this.get('creator')
    let following = this.get('following')
    let list = []
    this.set('list', list)

    let __follows
    this.observe('follows', (follows) => { if (follows && follows !== __follows) {
      this.set('loading', true)
      api.action('relation*', {
        creator: follows,
        skip: list.length,
        sort: sort,
        limit: 27 * 3,
      }, (d) => {
        this.set('loading', false)
        // list.push.apply(list, d)
        // this.set('list', d)
        list.splice.apply(list, [0, list.length].concat(d))
      })
    }})

    let __following
    this.observe('following', (following) => { if (following && following !== __following) {
      this.set('loading', true)
      api.action('relation*', {
        skip: list.length,
        following: following,
        sort: sort,
        limit: 27 * 3,
      }, (d) => {
        this.set('loading', false)
        // list.push.apply(list, d)
        // this.set('list', d)
        list.splice.apply(list, [0, list.length].concat(d))
      })
    }})
  },
  oncomplete () {
    // let title = this.find('.title')
    let movil = window.isMobile
    let container = this.find('.affinaties-container')
    let list_container = this.find('.list-container')
    let resizer = throttle(this.resize = () => {
      let w = window.innerWidth
      let h = window.innerHeight
      // let th = movil ? 0 : title.scrollHeight
      let ih = h - 200
      // if (movil) container.style.height = (h - 60 - 65) + 'px'
      list_container.style.maxHeight = Math.min(movil ? ih :(ih) - 0, ih) + 'px'
    }, true)
    this.resize()
    if (!movil) {
      onresize.addResizeListener(list_container, this.resize)
    }
    // let gemini = new (require('gemini-scrollbar'))({
    //   element: container,
    //   autoshow: true,
    //   createElements: false,
    // }).create()

    this.observe('list', (v) => {
      // gemini.update()
      if (!movil) resizer()
    }, {initial: false})

    this.once('teardown', () => {
      // gemini.destroy()
      if (!movil) onresize.removeResizeListener(list_container, resizer)
    })
  },
}
</script>

<style>
.list-container {
  overflow-y: scroll;
  width: 100%;
  min-height: 100px;
  max-height: 720px;
  padding-bottom: 80px;
  background: #fff;
  position: relative;
  border-radius: 0px 0px 30px 9px;
}
.list {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  transition: background-color 333ms ease-in-out;
  border-bottom: 1px solid #dadada;
  clear: both;
}
.user {
  float: left;
}
</style>
