<link rel='ractive' href='../partials/foto.html'>
<link rel='ractive' href='../partials/foto-upload.html'>
<link rel='ractive' href='../partials/date-select.html'>

<div class="square container">
  {{#if ~/prevote}}
  <div class="notice">
    Para que funcionen bien las estadisticas, necesitamos que rellenes los datos indicados antes de opinar.
  </div>
  {{/if}}
  <form on-submit="submit" class="row1">

    <div class="{{~/prevote ? '' : ''}}">
      <div class="foto {{~/errors.me.foto ? 'invalid' : ''}}" style="display: {{~/prevote ? 'none' : 'block'}}">
        <!-- Sí, quiero esta foto -->
        {{#if ~/change_foto}}
        <foto-upload L="{message: 'Sube tu foto de perfil'}" icon="camera" shape="circle" cropped="{{~/cropped}}" />
        {{else}}
        <foto src="{{~/me.foto}}" size="t" />
        {{/if}}
      </div>
      <div class="field localization">
        <div class="left-column">
          <select value="{{~/me.c}}" class="{{~/errors.me.c ? 'invalid' : ''}}">
            <option value="ES">España</option>
            {{#each ~/countries}}
            <option value="{{.short}}">{{.name}}</option>
            {{/each}}
          </select>
        </div>
        {{#if ~/provinces}}
        <div class="col-right">
          <select value="{{~/me.p}}" class="{{~/errors.me.p ? 'invalid' : ''}}">
            <option value="">Provincia</option>
            {{#each ~/provinces}}
            <option value="{{.short}}">{{.name}}</option>
            {{/each}}
          </select>
        </div>
        {{/if}}
      </div>

      <div class="field planet">
        <div class="left-column {{~/errors.me.planet ? 'invalid' : ''}}" on-tap="set('me.planet', 0)">
          <input type="radio" name="{{~/me.planet}}" value="0"> Mujer
        </div>
        <div class="col-right {{~/errors.me.planet ? 'invalid' : ''}}" on-tap="set('me.planet', 1)">
          <input type="radio" name="{{~/me.planet}}" value="1"> Hombre
        </div>
      </div>

      <div class="field birthdate {{~/errors.me.birthdate ? 'invalid' : ''}}">
        <date-select value="{{~/me.birthdate}}" />
      </div>
      <div class="submit1">
        <button on-tap="change-appearance" class="button-register">
          {{#if ~/prevote}}
          Votar
          {{else}}
          Vente y opina <span class="angle"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></span>
          {{/if}}
        </button>
      </div>
    </div>


  </form>
</div>


<style>
div.square {
  width: 350px;
  padding: 20px;
}
div.rectangle {
  width: 100%;
  padding: 20px;
  background-color: #fff;
}
.row1{
  width: 100%;
    padding: 10px;
    float: left;
    background-color: #fff;
}
.left-column, .col-right {
  width: 50%;
  padding: 10px;
  float: left;
  color: #888;
}

.col-right {
  float: right;
}

.field {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.birthdate {
  margin: 5px 0 10px 0;
}

.left-column .col-right,
.left-column .left-column {
  padding: 5px;
}

div.foto {
  margin: 0 auto;
  position: relative;
  width: 248px;
  padding: 2px;
}

.invalid {
  border: solid 1px #f00;
  border-radius: 8px;
}

.notice {
  color: #3378FF;
  margin-bottom: 30px;
}
.submit1 {
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
}
.submit1 button {
  width: 100%;
  height: 44px;
}
.button-register {
  padding: 9px 15px;
  background: #fd270d;
  text-align: center;
  /*margin-left: 10px;*/
}
button.button-sign-up {
  margin-top: 40px;
  width: 100%;
  border-radius: 4px;
}

.change-foto {
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 30px;
}

.foto-upload {
  margin: 0 auto;
  position: relative;
}

.foto-upload .message {
  font-size: 11px;
  position: absolute;
  left: 50%;
  margin-left: -120px;
  width: 240px;
  top: 80px;
}

.dropzone-area {
  margin: 0 auto;
  color: #fd270d;
  border: 1px solid #222;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  text-decoration: none;
  padding: 6px 14px;
  font-size: 40px;
  font-weight: 300;
  line-height: 0.8;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone-area .fa {
  padding: 50%;
}

</style>

<script>
import moment from 'moment'
import Validator from '../validator'
component.exports = {
  // isolated: true,
  onconfig () {
    api.on('me', (me) => {
      this.set('me', me)
    })
    this.set('active', 'appearance')
    api.once('auth', (me) => {
      setTimeout(() => {
        if (this.parent && this.parent.teardown) {
          // this.parent.teardown()
          this.parent.set('register', '')
        }
      }, 1)
    })
    this.set('change_foto', true)
    this.observe('cropped', (v) => {
      if (v && v.length) this.set('me.foto', v[0])
    })

    let set_countries = (data) => {
      let list = data
      if (!Array.isArray(data)) {
        list = []
        for (var k in data) list.push({ name: data[k], short: k })
        list.sort((a, b) => { return a.name > b.name ? 1 : a.name < b.name ? -1 : 0 })
        local.setItem('country-list', list)
      }
      // list.unshift({ name: 'España', short: 'ES' })
      this.set('countries', list)
    }

    local.getItem('country-list', (err, data) => {
      if (!data) {
        api.action('country-list', {}, (data) => {
          set_countries(data)
        })
      } else {
        set_countries(data)
      }
    })

    let set_provinces = (code, data) => {
      let list = data
      if (!Array.isArray(data)) {
        list = []
        for (var k in data) list.push({ name: data[k], short: k })
        list.sort((a, b) => { return a.name > b.name ? 1 : a.name < b.name ? -1 : 0 })
        local.setItem(`provinces-${code}`, list)
      }
      this.set('provinces', list)
      if (list.length === 0) this.set('me.p', '*')
    }

    this.observe('me.c', (code) => {
      if (code) {
        local.getItem(`provinces-${code}`, (err, data) => {
          if (!data) {
            api.action('province-list', {code}, (data) => {
              set_provinces(code, data)
            })
          } else {
            set_provinces(code, data)
          }
        })
      }
    })

    this.v = new Validator('me', {
      'foto': {required: false, type: 'id'},
      'planet': {required: true, type: 'integer', min: 0, max: 1},
      'c': {required: true, type: 'string', min: 1, max: 2},
      'p': {required: true, type: 'string', min: 1, max: 3},
      'birthdate': {required: true, type: 'integer'}, // TODO min / max - eg. min: new Date(...).valueOf()
    })
    this.observe('me', () => {
      if (this.v.submitted)
        this.set('errors', this.v.validate(this).errors)
    })
    this.on('change-appearance', (e) => {
      e.original.preventDefault()
      e.original.stopImmediatePropagation()
      this.v.submitted = true
      this.fire('submitting', () => {
        let form = this.v.validate(this)
        this.set('errors', form.errors)
        // need to do like in the settings panel.
        //
        if (form.valid) api.action('change-appearance', form.data, (data) => {
          if (data) {
            api.whoIaM(data)
            this.parent.teardown()
          }
        })
      })
    })
    if (this.get('prevote')) {
      this.set('d', api.me)
      this.v.submitted = true
      let form = this.v.validate(this)
      this.set('errors', form.errors)
    }
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
