<link rel='ractive' href='../partials/are-you-sure.html'>

<div class="social">
  <div class="comm" on-tap="dispatch('comments')" decorator="tip:'Comentar',39">
    <img src="/img/icon-coment.svg" width="18" height="18"/>
    {{#if d.numComments}}
      <span class="num-comments">{{d.numComments}}</span>
    {{/if}}
  </div>
  <!-- <div class="share" decorator="tip:'función aún no activa',39">
    <i class="fa fa-share"></i>
  </div> -->
  {{#if ~/mine}}
  <div class="others" on-tap="remove" decorator="tip:'Eliminar',39">
    <!-- <i class="fa fa-ellipsis-h"></i> -->
    <i class="fa fa-close" ></i>
  </div>
  {{/if mine}}
</div>

<style>
.comm {
  float: left;
  color: #007CFF;
}
.share {
  float: left;
  color: #00B958;
}
.others {
  float: right;
  color: #89868B;
}

.social div {
  border-radius: 4px;
}

.comm:hover,
.share:hover,
.others:hover {
  color: #007CFF;
  background-color: #B5D7FB;
  border: solid 1px #ddd;
  margin: 0;
}
.comm,
.share,
.others {
  margin: 1px;
  padding: 0 9px;
  cursor: pointer;
}
.social {
  font-size: 19px;
  width: 100%;
  padding: 0 9px;
  display: inline-block;
}

.num-comments {
  font-size: 11px;
  color:#ADADAD;
}
.num-comments:hover {
  color: #007CFF;
}

</style>


<script>
component.exports = {
  isolated: true,
  decorators: {
    tip: require('../lib/decorators/tip')
  },
  modal: require('../modal'),

  oninit () {
    let type = this.get('d.options') ? 'poll' : 'debate'
    let id = this.get('d._id')
    this.dispatch = (active) => {
      router.dispatch(`/${type}/${id}/${active}`)
    }
    this.on('remove', () => {
      let modal = this.modal('are-you-sure', {title: `¿Eliminar?`})
      modal.once('answer', (v) => {
        if (v !== void 0) {
          modal.teardown()
          if (v) {
            api.action(type + '-', {_id: id}, (res) => {
              if (res) Ractive.nexus.debate.fire('-', id)
            })
          }
        }
      })
    })
  },
  computed: {
    mine () {
      let creator = this.get('d._creator')
      return (typeof creator === 'object' && creator._id == api.yo) || creator === api.yo
    }
  },
  events: {
    tap: require('../lib/events/tap.js'),
  },
}
</script>
